/*-- ############################### Raised Button Accents ############################### */
.primary-light
{
    -var-accent-color: -var-primary-light-color;
    -var-accent-text-color: -var-on-primary-light-color;
    -var-overlay-color: -var-primary-overlay-color;
}

.primary-mid
{
    -var-accent-color: -var-primary-mid-color;
    -var-accent-text-color: -var-on-primary-mid-color;
    -var-overlay-color: -var-primary-overlay-color;
}

.primary-dark
{
    -var-accent-color: -var-primary-dark-color;
    -var-accent-text-color: -var-on-primary-dark-color;
    -var-overlay-color: -var-primary-overlay-color;
}

.secondary-light
{
    -var-accent-color: -var-secondary-light-color;
    -var-accent-text-color: -var-on-secondary-light-color;
    -var-overlay-color: -var-secondary-overlay-color;
}

.secondary-mid
{
    -var-accent-color: -var-secondary-mid-color;
    -var-accent-text-color: -var-on-secondary-mid-color;
    -var-overlay-color: -var-secondary-overlay-color;
}

.secondary-dark
{
    -var-accent-color: -var-secondary-dark-color;
    -var-accent-text-color: -var-on-secondary-text-color;
    -var-overlay-color: -var-secondary-overlay-color;
}

.base-light
{
    -var-accent-color: -var-main-color-l2;
    -var-accent-text-color: -var-on-main-mid-color;
    -var-overlay-color: -var-base-overlay-color;
}

.base-mid
{
    -var-accent-color: -var-main-color-l3;
    -var-accent-text-color: -var-on-main-mid-color;
    -var-overlay-color: -var-base-overlay-color;
}

.base-dark
{
    -var-accent-color: -var-main-color-l4;
    -var-accent-text-color: -var-on-main-mid-color;
    -var-overlay-color: -var-base-overlay-color;
}