.root 
{
    /*-- ############################### Font ############################### */
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 14;

    /* Main colors are used on backgrounds and overlays */
    /*-- ############################### Main Color ############################### */
    -var-main-color-l0: #101011;
    -var-main-color-l1: #1a1a1d;
    -var-main-color-l2: #202023;
    -var-main-color-l3: #28282c;
    -var-main-color-l3: #2f2f37;
    -var-main-color-l4: #323239;

    -var-on-main-light-color: #a0a0a0;
    -var-on-main-mid-color: #f1f1f1;

    -var-base-overlay-color: rgba(255, 255, 255, 0.25);

    /* Primary colors are used to accent components */
    /*-- ############################### Primary Color ############################### */
    -var-primary-light-color: #80d6ff;
    -var-primary-mid-color: #42a5f5;
    -var-primary-dark-color: #0077c2;
    
    -var-on-primary-light-color: #000000;
    -var-on-primary-mid-color: #f1f1f1;
    -var-on-primary-dark-color: #f1f1f1;
    
    -var-primary-overlay-color: rgba(255, 255, 255, 0.25);

    /* Secondary colors are used to accent components */
    /*-- ############################### Secondary Color ############################### */
    -var-secondary-light-color: #b085f5;
    -var-secondary-mid-color: #7e57c2;
    -var-secondary-dark-color: #4d2c91;
    
    -var-on-secondary-light-color: #000000;
    -var-on-secondary-mid-color: #f1f1f1;
    -var-on-secondary-text-color: #f1f1f1;
    
    -var-secondary-overlay-color: rgba(255, 255, 255, 0.25);

    /*-- ############################### Error Colors ############################### */
    -var-light-error-color: #58222c;
    -var-error-color: #cf6679;
    -var-on-error-color: #ffffff;
    
    /*-- ############################### Root Colors ############################### */
    -fx-background-color: -var-main-color-l0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}