.root 
{
    /*-- ############################### Font ############################### */
    -fx-font-family: "Roboto";
    -fx-font-size: 14;

    /* Main colors are used on backgrounds and overlays */
    /*-- ############################### Main Color ############################### */
    -var-main-color-l0: #121212;
    -var-main-color-l1: #1d1d1d;
    -var-main-color-l2: #1a1a1a;
    -var-main-color-l3: #212121;
    -var-main-color-l3: #323232;
    -var-main-color-l4: #373737;

    -var-main-light-text-color: #a0a0a0;
    -var-main-mid-text-color: #ffffff;
    -var-main-dark-text-color: #ffffff;
    -var-base-light-text-color: #ffffff;
    -var-base-mid-text-color: #ffffff;
    -var-base-dark-text-color: #ffffff;

    -var-base-overlay-color: rgba(255, 255, 255, 0.25);

    /* Primary colors are used to accent components */
    /*-- ############################### Primary Color ############################### */
    -var-primary-light-color: #c8a1f8;
    -var-primary-mid-color: #bb86fc;
    -var-primary-dark-color: #3700b3;
    
    -var-on-primary-light-color: #000000;
    -var-on-primary-mid-color: #000000;
    -var-on-primary-dark-color: #ffffff;
    
    -var-primary-overlay-color: rgba(255, 255, 255, 0.55);

    /* Secondary colors are used to accent components */
    /*-- ############################### Secondary Color ############################### */
    -var-secondary-light-color: #85fff3;
    -var-secondary-mid-color: #03dac6;
    -var-secondary-dark-color: #008b7e;
    
    -var-on-secondary-light-color: #000000;
    -var-on-secondary-mid-color: #000000;
    -var-on-secondary-text-color: #ffffff;
    
    -var-secondary-overlay-color: rgba(255, 255, 255, 0.55);
    
    /*-- ############################### Error Colors ############################### */
    -var-light-error-color: #58222c;
    -var-error-color: #cf6679;
    -var-on-error-color: #ffffff;
    
    /*-- ############################### Root Colors ############################### */
    -fx-background-color: -var-main-color-l0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
