/* TODO find a better naming scheme instead of "light, mid, dark */
.root 
{
    /*-- ############################### Font ############################### */
    -fx-font-family: "Roboto";
    -fx-font-size: 14;

    /* Main colors are used on backgrounds and overlays */
    /*-- ############################### Main Color ############################### */
    -var-main-color-l0: #41a174;
    -var-main-color-l1: #1f2023;
    -var-main-color-l2: #2c2e31;
    -var-main-color-l3: #303235;
    -var-main-color-l4: #999ea4;

    -var-main-light-text-color: #a0a0a0;
    -var-main-mid-text-color: #ffffff;
    -var-main-dark-text-color: #ffffff;
    -var-base-light-text-color: #ffffff;
    -var-base-mid-text-color: #ffffff;
    -var-base-dark-text-color: #ffffff;

    -var-base-overlay-color: rgba(255, 255, 255, 0.25);

    /* Primary colors are used to accent components */
    /*-- ############################### Primary Color ############################### */
    -var-primary-light-color: #49a7d2;
    -var-primary-mid-color: #2d9fd6;
    -var-primary-dark-color: #035d90;
    
    -var-on-primary-light-color: #000000;
    -var-on-primary-mid-color: #000000;
    -var-on-primary-dark-color: #ffffff;
    
    -var-primary-overlay-color: rgba(255, 255, 255, 0.25);

    /* Secondary colors are used to accent components */
    /*-- ############################### Secondary Color ############################### */
    -var-secondary-light-color: #5ae0a2;
    -var-secondary-mid-color: #4ab884;
    -var-secondary-dark-color: #398f67;
    
    -var-on-secondary-light-color: #000000;
    -var-on-secondary-mid-color: #000000;
    -var-on-secondary-text-color: #000000;
    
    -var-secondary-overlay-color: rgba(255, 255, 255, 0.25);

    /*-- ############################### Error Colors ############################### */
    -var-light-error-color: #58222c;
    -var-error-color: #cf6679;
    -var-on-error-color: #ffffff;
    
    /*-- ############################### Root Colors ############################### */
    -fx-background-color: -var-main-color-l0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}