/*
TODO rename light/mid/dark naming
TODO change "text-color" naming to something like "on-color"
*/
.root
{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color : #eaedf2;
    
    /*-- ############################### Font ############################### */
    -fx-font-family: "Roboto";
    -fx-font-size: 14;

    /*-- ############################### Main Color ############################### */
    -var-main-light-color: #ffffff;
    -var-main-mid-color: #f6f6f6;
    -var-main-dark-color: #989898;

    -var-main-light-text-color: #ababab;
    -var-main-mid-text-color: #202020;
    -var-main-dark-text-color: #202020;

    /*-- ############################### Base Color ############################### */
    -var-base-light-color: #f6f6f6;
    -var-base-mid-color: #dcdcdc;
    -var-base-dark-color: #ababab;

    -var-base-light-text-color: #202020;
    -var-base-mid-text-color: #202020;
    -var-base-dark-text-color: #202020;

    -var-base-overlay-color: rgba(0, 0, 0, 0.1);

    /*-- ############################### Primary Color ############################### */
    -var-primary-light-color: #8695ac;
    -var-primary-mid-color: #414f63;
    -var-primary-dark-color: #0d1116;
    
    -var-primary-light-text-color: #ffffff;
    -var-primary-mid-text-color: #ffffff;
    -var-primary-dark-text-color: #ffffff;
    
    -var-primary-overlay-color: rgba(255, 255, 255, 0.35);

    /*-- ############################### Secondary Color ############################### */
    -var-secondary-light-color: #ff8e9b;
    -var-secondary-mid-color: #f06373;
    -var-secondary-dark-color: #ab000d;
    
    -var-secondary-light-text-color: #ffffff;
    -var-secondary-mid-text-color: #ffffff;
    -var-secondary-dark-text-color: #ffffff;

    -var-secondary-overlay-color: rgba(255, 255, 255, 0.35);
    
    /*-- ############################### Error Colors ############################### */
    -var-light-error-color: #b9717e;
    -var-error-color: #b00020;
    -var-on-error-color: #ffffff
}

/* Remove when JFeonix Dependency is gone */
.jfx-decorator 
{
    -fx-decorator-color: derive(-var-primary-light-color, -40%);
}

.jfx-tool-bar 
{
    -fx-background-color: derive(-var-primary-light-color, -20%);
}

.jfx-popup-container 
{
    -fx-background-color: -var-main-light-color;
}

.jfx-drawer-side-pane
{
    -fx-background-color: -var-main-light-color;
}

.rt-combo-box.filled
{
    -fx-text-fill: -var-main-mid-text-color;
}

.rt-combo-box.filled,
.combo-box-base,
.combo-box-base:editable .text-field
{
    -fx-text-fill: -var-main-mid-text-color;
}