.root
{
    /*-- ############################### Font ############################### */
    -fx-font-family: "Roboto";
    -fx-font-size: 14;

    /*-- ############################### Main Color ############################### */
    /* 
    The RT color palette emulates the elevation concept from Google's Material Design.
    L0 (level0) represents layouts and components that do not have an elevation. The 
    remaining levels will appear closer to the screen as the level increases. After L0,
    a light theme will appear darker the higher the level, and a dark theme will appear
    ligher the higher the level. Examples of components that can be found at each level
    include:

    L0:
    - The root background where all layouts and components will be elevated from.

    L1:
    - Cards
    - Table View cell and header background
    - List View cell background
    - Tab background
    - Tooltips

    L2:
    - Text Field and Text Area background
    - Combo Box background
    - Table View odd background color
    
    L3:
    - Toggle switch line color
    - Table View border
    
    L4:
    - Text Field line color
    - Tab line color
    - Check Box border
    - Radio Button border
    - Toggle switch thumb color
    */
    -var-main-color-l0: #eaedf2;
    -var-main-color-l1: #ffffff;
    -var-main-color-l2: #f6f6f6;
    -var-main-color-l3: #dcdcdc;
    -var-main-color-l4: #ababab;


    /*
    - Text field, text area, combo box, and titled separator prompt text
    */
    -var-on-main-light-color: #9a9a9a;
    -var-on-main-mid-color: #202020;

    -var-base-overlay-color: rgba(0, 0, 0, 0.1);

    /*-- ############################### Primary Color ############################### */
    -var-primary-light-color: #8695ac;
    -var-primary-mid-color: #414f63;
    -var-primary-dark-color: #0d1116;
    
    /* Text and icon color over primary light, mid, and dark accents */
    -var-on-primary-light-color: #ffffff;
    -var-on-primary-mid-color: #ffffff;
    -var-on-primary-dark-color: #ffffff;
    
    -var-primary-overlay-color: rgba(215, 215, 215, 0.50);

    /*-- ############################### Secondary Color ############################### */
    -var-secondary-light-color: #ff8e9b;
    -var-secondary-mid-color: #f06373;
    -var-secondary-dark-color: #ab000d;
    
    -var-on-secondary-light-color: #ffffff;
    -var-on-secondary-mid-color: #ffffff;
    -var-on-secondary-text-color: #ffffff;

    -var-secondary-overlay-color: rgba(215, 215, 215, 0.50);
    
    /*-- ############################### Error Colors ############################### */
    -var-light-error-color: #f3dade;
    -var-error-color: #b00020;
    -var-on-error-color: #ffffff;
    
    /*-- ############################### Root Colors ############################### */
    -fx-background-color: -var-main-color-l0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}