.root 
{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color : #fff9ee;

    /*-- ############################### Font ############################### */
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 14;

    /* Main colors are used on backgrounds and overlays */
    /*-- ############################### Main Color ############################### */
    -rt-main-light-color: #e5f2f8;
    -rt-main-mid-color: #e1f5fe;
    -rt-main-dark-color: #d4eefa;

    -rt-main-light-text-color: #000000;
    -rt-main-mid-text-color: #000000;
    -rt-main-dark-text-color: #000000;

    /* Base colors are used on components */
    /*-- ############################### Base Color ############################### */
    -rt-base-light-color: #daecf5;
    -rt-base-mid-color: #c0dfee;
    -rt-base-dark-color: #b5dcf0;

    -rt-base-light-text-color: #000000;
    -rt-base-mid-text-color: #000000;
    -rt-base-dark-text-color: #000000;

    -rt-base-overlay-color: rgba(255, 255, 255, 0.25);

    /* Primary colors are used to accent components */
    /*-- ############################### Primary Color ############################### */
    -rt-primary-light-color: #4c8c4a;
    -rt-primary-mid-color: #1b5e20;
    -rt-primary-dark-color: #003300;
    
    -rt-primary-light-text-color: #000000;
    -rt-primary-mid-text-color: #f1f1f1;
    -rt-primary-dark-text-color: #f1f1f1;
    
    -rt-primary-overlay-color: rgba(255, 255, 255, 0.45);

    /* Secondary colors are used to accent components */
    /*-- ############################### Secondary Color ############################### */
    -rt-secondary-light-color: #9c786c;
    -rt-secondary-mid-color: #6d4c41;
    -rt-secondary-dark-color: #40241a;
    
    -rt-secondary-light-text-color: #000000;
    -rt-secondary-mid-text-color: #f1f1f1;
    -rt-secondary-dark-text-color: #f1f1f1;
    
    -rt-secondary-overlay-color: rgba(255, 255, 255, 0.45);
}

.jfx-decorator 
{
    -fx-decorator-color: -rt-primary-dark-color;
}

.jfx-tool-bar 
{
    -fx-background-color: -rt-secondary-light-color;
}

.jfx-popup-container 
{
    -fx-background-color: -rt-main-light-color;
}

.jfx-drawer-side-pane
{
    -fx-background-color: -rt-main-light-color;
}

.rt-combo-box.filled,
.combo-box-base,
.combo-box-base:editable .text-field
{
    -fx-text-fill: -rt-main-mid-text-color;
}