/*-- ############################### Flow Pane Accents ############################### */
.rt-flow-pane.primary-light
{
    -fx-background-color: -rt-primary-light-color;
}

.rt-flow-pane.primary-mid
{
    -fx-background-color: -rt-primary-mid-color;
}

.rt-flow-pane.primary-dark
{
    -fx-background-color: -rt-primary-dark-color;
}

.rt-flow-pane.secondary-light
{
    -fx-background-color: -rt-secondary-light-color;
}

.rt-flow-pane.secondary-mid
{
    -fx-background-color: -rt-secondary-mid-color;
}

.rt-flow-pane.secondary-dark
{
    -fx-background-color: -rt-secondary-dark-color;
}

.rt-flow-pane.base-light
{
    -fx-background-color: -rt-base-light-color;
}

.rt-flow-pane.base-mid
{
    -fx-background-color: -rt-base-mid-color;
}

.rt-flow-pane.base-dark
{
    -fx-background-color: -rt-base-dark-color;
}

/*-- ############################### Flow Pane Style ############################### */
.rt-flow-pane
{
    -fx-background-radius: 12;
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-padding: 10;
    -fx-background-color: transparent;
}