.rt-stack-pane
{
    -fx-hgap: 10;
    -fx-vgap: 10;
}

/*-- ############################### Stack Pane Accents ############################### */
.rt-stack-pane.primary-light
{
    -fx-background-color: -rt-primary-light-color;
}

.rt-stack-pane.primary-mid
{
    -fx-background-color: -rt-primary-mid-color;
}

.rt-stack-pane.primary-dark
{
    -fx-background-color: -rt-primary-dark-color;
}

.rt-stack-pane.secondary-light
{
    -fx-background-color: -rt-secondary-light-color;
}

.rt-stack-pane.secondary-mid
{
    -fx-background-color: -rt-secondary-mid-color;
}

.rt-stack-pane.secondary-dark
{
    -fx-background-color: -rt-secondary-dark-color;
}

.rt-stack-pane.base-light
{
    -fx-background-color: -rt-base-light-color;
}

.rt-stack-pane.base-mid
{
    -fx-background-color: -rt-base-mid-color;
}

.rt-stack-pane.base-dark
{
    -fx-background-color: -rt-base-dark-color;
}