/*-- ############################### Raised Button Accents ############################### */
.rt-button.raised,
.rt-button.flat,
.rt-button.icon
{
    -var-accent-color: -rt-primary-mid-color;
    -var-accent-text-color: -rt-primary-mid-text-color;
    -var-overlay-color: -rt-primary-overlay-color;
}

.rt-button.raised.primary-light,
.rt-button.flat.primary-light,
.rt-button.icon.primary-light
{
    -var-accent-color: -rt-primary-light-color;
    -var-accent-text-color: -rt-primary-light-text-color;
    -var-overlay-color: -rt-primary-overlay-color;
}

.rt-button.raised.primary-mid,
.rt-button.flat.primary-mid,
.rt-button.icon.primary-mid
{
    -var-accent-color: -rt-primary-mid-color;
    -var-accent-text-color: -rt-primary-mid-text-color;
    -var-overlay-color: -rt-primary-overlay-color;
}

.rt-button.raised.primary-dark,
.rt-button.flat.primary-dark,
.rt-button.icon.primary-dark
{
    -var-accent-color: -rt-primary-dark-color;
    -var-accent-text-color: -rt-primary-dark-text-color;
    -var-overlay-color: -rt-primary-overlay-color;
}

.rt-button.raised.secondary-light,
.rt-button.flat.secondary-light,
.rt-button.icon.secondary-light
{
    -var-accent-color: -rt-secondary-light-color;
    -var-accent-text-color: -rt-secondary-light-text-color;
    -var-overlay-color: -rt-secondary-overlay-color;
}

.rt-button.raised.secondary-mid,
.rt-button.flat.secondary-mid,
.rt-button.icon.secondary-mid
{
    -var-accent-color: -rt-secondary-mid-color;
    -var-accent-text-color: -rt-secondary-mid-text-color;
    -var-overlay-color: -rt-secondary-overlay-color;
}

.rt-button.raised.secondary-dark,
.rt-button.flat.secondary-dark,
.rt-button.icon.secondary-dark
{
    -var-accent-color: -rt-secondary-dark-color;
    -var-accent-text-color: -rt-secondary-dark-text-color;
    -var-overlay-color: -rt-secondary-overlay-color;
}

.rt-button.raised.base-light,
.rt-button.flat.base-light,
.rt-button.icon.base-light
{
    -var-accent-color: -rt-base-light-color;
    -var-accent-text-color: -rt-base-light-text-color;
    -var-overlay-color: -rt-base-overlay-color;
}

.rt-button.raised.base-mid,
.rt-button.flat.base-mid,
.rt-button.icon.base-mid
{
    -var-accent-color: -rt-base-mid-color;
    -var-accent-text-color: -rt-base-mid-text-color;
    -var-overlay-color: -rt-base-overlay-color;
}

.rt-button.raised.base-dark,
.rt-button.flat.base-dark,
.rt-button.icon.base-dark
{
    -var-accent-color: -rt-base-dark-color;
    -var-accent-text-color: -rt-base-dark-text-color;
    -var-overlay-color: -rt-base-overlay-color;
}

/*-- ############################### Button Style ############################### */
.rt-button,
.rt-button.raised,
.rt-button.icon
{
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-cursor: hand;
    -fx-font-size: 14;
}

/*-- ############################### Raised Button Style ############################### */
.rt-button.raised
{
    -fx-background-color: -var-accent-color;
    -fx-background-insets: 0;
    -fx-background-radius: 4;
    -fx-border-color: -var-accent-color;
    -fx-border-radius: 4;
    -fx-border-width: 0;
    -fx-graphic-text-gap: 8;
    -fx-min-height: 36;
    -fx-min-width: 64;
    -fx-padding: 8 16 8 16;
    -fx-text-fill: -var-accent-text-color;

    -rt-overlay-color: -var-overlay-color;
}

.rt-button.raised:focused
{
    -fx-background-insets: 0;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-border-width: 0;
}

/*-- ############################### Flat Button Style ############################### */
.rt-button.flat
{
    -fx-background-color: -var-accent-color;
    -fx-background-insets: 0;
    -fx-background-radius: 4;
    -fx-border-color: -var-accent-color;
    -fx-border-radius: 4;
    -fx-border-width: 0;
    -fx-graphic-text-gap: 8;
    -fx-min-height: 36;
    -fx-min-width: 64;
    -fx-padding: 8 16 8 16;
    -fx-text-fill: -var-accent-text-color;
    
    -rt-overlay-color: -var-overlay-color;
}

.rt-button.flat:focused
{
    -fx-background-insets: 0;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-border-width: 0;
}

/*-- ############################### Icon Button Style ############################### */
.rt-button.icon
{
    -fx-background-color: transparent;
    -fx-background-radius: 4;
    -fx-border-width: 0;
    -fx-border-radius: 4;
    -fx-graphic-text-gap: 8;
    -fx-padding: 4;
    -fx-insets: 0;
    -fx-font-family: "Roboto Medium";
    -fx-text-fill: -rt-main-mid-text-color;
    
    -rt-overlay-color: -var-overlay-color;
}