/*-- ############################### Filled Combo Box Accent ############################### */
.rt-combo-box.filled.primary-light
{
    -rt-unselected-border-color: -rt-base-light-color;
    -rt-selected-border-color: -rt-primary-light-color;
    -rt-unselected-background-color: -rt-base-light-color;
    -rt-selected-background-color: transparent;
    -rt-text-color: -rt-main-mid-text-color;
    
    -rt-accent-color: derive(-rt-primary-light-color, 90%);
}

.rt-combo-box.filled.primary-mid
{
    -rt-unselected-border-color: -rt-base-light-color;
    -rt-selected-border-color: -rt-primary-mid-color;
    -rt-unselected-background-color: -rt-base-light-color;
    -rt-selected-background-color: transparent;
    -rt-text-color: -rt-main-mid-text-color;
    
    -rt-accent-color: derive(-rt-primary-mid-color, 90%);
}

.rt-combo-box.filled.primary-dark
{
    -rt-unselected-border-color: -rt-base-light-color;
    -rt-selected-border-color: -rt-primary-dark-color;
    -rt-unselected-background-color: -rt-base-light-color;
    -rt-selected-background-color: transparent;
    -rt-text-color: -rt-main-mid-text-color;
    
    -rt-accent-color: derive(-rt-primary-dark-color, 90%);
}

.rt-combo-box.filled.secondary-light
{
    -rt-unselected-border-color: -rt-base-light-color;
    -rt-selected-border-color: -rt-secondary-light-color;
    -rt-unselected-background-color: -rt-base-light-color;
    -rt-selected-background-color: transparent;
    -rt-text-color: -rt-main-mid-text-color;
    
    -rt-accent-color: derive(-rt-secondary-light-color, 90%);
}

.rt-combo-box.filled.secondary-mid
{
    -rt-unselected-border-color: -rt-base-light-color;
    -rt-selected-border-color: -rt-secondary-mid-color;
    -rt-unselected-background-color: -rt-base-light-color;
    -rt-selected-background-color: transparent;
    -rt-text-color: -rt-main-mid-text-color;
    
    -rt-accent-color: derive(-rt-secondary-mid-color, 90%);
}

.rt-combo-box.filled.secondary-dark
{
    -rt-unselected-border-color: -rt-base-light-color;
    -rt-selected-border-color: -rt-secondary-dark-color;
    -rt-unselected-background-color: -rt-base-light-color;
    -rt-selected-background-color: transparent;
    -rt-text-color: -rt-main-mid-text-color;
    
    -rt-accent-color: derive(-rt-secondary-dark-color, 90%);
}

.rt-combo-box.filled.base-light
{
    -rt-unselected-border-color: -rt-base-light-color;
    -rt-selected-border-color: -rt-base-light-color;
    -rt-unselected-background-color: -rt-base-light-color;
    -rt-selected-background-color: transparent;
    -rt-text-color: -rt-main-mid-text-color;
    
    -rt-accent-color: derive(-rt-base-light-color, 90%);
}

.rt-combo-box.filled.base-mid
{
    -rt-unselected-border-color: -rt-base-light-color;
    -rt-selected-border-color: -rt-base-mid-color;
    -rt-unselected-background-color: -rt-base-light-color;
    -rt-selected-background-color: transparent;
    -rt-text-color: -rt-main-mid-text-color;
    
    -rt-accent-color: derive(-rt-base-mid-color, 90%);
}

.rt-combo-box.filled.base-dark
{
    -rt-unselected-border-color: -rt-base-light-color;
    -rt-selected-border-color: -rt-base-dark-color;
    -rt-unselected-background-color: -rt-base-light-color;
    -rt-selected-background-color: transparent;
    -rt-text-color: -rt-main-mid-text-color;
    
    -rt-accent-color: derive(-rt-base-dark-color, 90%);
}

/*-- ############################### Flat Text Field Accent ############################### */
.rt-combo-box.flat.primary-light
{
    -rt-unselected-border-color: -rt-base-dark-color;
    -rt-selected-border-color: -rt-primary-light-color;
    -rt-text-color: -rt-main-mid-text-color;
}

.rt-combo-box.flat.primary-mid
{
    -rt-unselected-border-color: -rt-base-dark-color;
    -rt-selected-border-color: -rt-primary-mid-color;
    -rt-text-color: -rt-main-mid-text-color;
}

.rt-combo-box.flat.primary-dark
{
    -rt-unselected-border-color: -rt-base-dark-color;
    -rt-selected-border-color: -rt-primary-dark-color;
    -rt-text-color: -rt-main-mid-text-color;
}

.rt-combo-box.flat.secondary-light
{
    -rt-unselected-border-color: -rt-base-dark-color;
    -rt-selected-border-color: -rt-secondary-light-color;
    -rt-text-color: -rt-main-mid-text-color;
}

.rt-combo-box.flat.secondary-mid
{
    -rt-unselected-border-color: -rt-base-dark-color;
    -rt-selected-border-color: -rt-secondary-mid-color;
    -rt-text-color: -rt-main-mid-text-color;
}

.rt-combo-box.flat.secondary-dark
{
    -rt-unselected-border-color: -rt-base-dark-color;
    -rt-selected-border-color: -rt-secondary-dark-color;
    -rt-text-color: -rt-main-mid-text-color;
}

.rt-combo-box.flat.base-light
{
    -rt-unselected-border-color: -rt-base-dark-color;
    -rt-selected-border-color: -rt-base-light-color;
    -rt-text-color: -rt-main-mid-text-color;
}

.rt-combo-box.flat.base-mid
{
    -rt-unselected-border-color: -rt-base-dark-color;
    -rt-selected-border-color: -rt-base-mid-color;
    -rt-text-color: -rt-main-mid-text-color;
}

.rt-combo-box.flat.base-dark
{
    -rt-unselected-border-color: -rt-base-dark-color;
    -rt-selected-border-color: -rt-base-dark-color;
    -rt-text-color: -rt-main-mid-text-color;
}

/*-- ############################### Filled Combo Box Style ############################### */
.rt-combo-box.filled
{
    -fx-background-color: -rt-unselected-background-color;
	-fx-background-radius: 2.0;
    -fx-border-color: -rt-unselected-border-color;
    -fx-border-radius: 2.0;
    -fx-border-width: 2 2 2 2;
    -fx-cursor: hand;
    -fx-max-width: 1000000;
    -fx-padding: 1 1 1 1;
    -fx-text-fill: -rt-text-color;
}

.rt-combo-box.filled:hover
{
    -fx-border-color: -rt-selected-border-color;
}

.combo-box-base:editable:focused,
.rt-combo-box.filled:focused
{
    -fx-background-color: -rt-selected-background-color;
    -fx-border-color: -rt-selected-border-color;
}

.rt-combo-box .arrow-button .arrow
{
    -fx-shape: "M7,10L12,15L17,10H7Z";
}

.rt-combo-box:showing .arrow-button .arrow
{
    -fx-shape: "M7,15L12,10L17,15H7Z";
}

.rt-combo-box .combo-box-popup .list-view 
{
    -fx-background: -rt-main-light-color;
    -fx-background-color: -rt-main-light-color;
    -fx-background-radius: 2 2 2 2;
    -fx-border-color: -rt-main-light-color;
    -fx-border-width: 0 0 0 0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.26), 12, 0.06, 0, 6);
    -fx-padding: 0 0 4 0;

    -fx-min-height: 28;
}

.rt-combo-box .combo-box-popup .list-view .virtual-flow .clipped-container .sheet .list-cell 
{
    -fx-cursor: hand;
    -fx-font-size: 14;
    -fx-padding: 8 8 8 8;
    -fx-text-fill: -rt-base-dark-text-color;
}

.rt-combo-box .combo-box-popup .list-view .virtual-flow .clipped-container .sheet .list-cell:filled:hover 
{
    -fx-background: derive(-rt-accent-color, 50%);
    -fx-background-color: derive(-rt-accent-color, 50%);
}

.rt-combo-box .combo-box-popup  .list-view .virtual-flow .clipped-container .sheet .list-cell:filled:selected,
.rt-combo-box .combo-box-popup  .list-view .virtual-flow .clipped-container .sheet .list-cell:filled:selected:hover 
{
    -fx-background: -rt-accent-color;
    -fx-background-color: -rt-accent-color;
}

.combo-box-base:editable .arrow-button,
.combo-box-base:editable:focused .arrow-button
{
    -fx-background-color: transparent;

    -rt-size: 16;
    -fx-min-height: -rt-size;
    -fx-min-width: -rt-size;
    -fx-max-height: -rt-size;
    -fx-max-width: -rt-size;
}
 
.combo-box-base:editable .text-field
{
    /* TODO use accent colors*/
    -fx-background-color: -rt-base-light-color;
    -fx-control-inner-background: -rt-base-light-color;
    -fx-faint-focus-color: -rt-base-light-color;
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-effect: null;
}

.combo-box-base:editable:focused .text-field,
.combo-box-base:editable .text-field:focused
{
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}


/*-- ############################### Flat Combo Box Style ############################### */
.rt-combo-box.flat
{
    -fx-background-color: transparent;
	-fx-background-radius: 2.0;
    -fx-border-color: -rt-selected-border-color;
    -fx-border-radius: 0;
    -fx-border-width: 0 0 2 0;
    -fx-max-width: 1000000;
	-fx-padding: 0.5em 0.5em 0.5em 0.1em;
    -fx-text-fill: -rt-text-color;
}