/*
TODO 
- link up text color to all components 
- Hover state
- Hover and selected state animation
*/
/*-- ############################### List View Colors ############################### */
.rt-list-view.primary-light
{
    -var-accent-color: -rt-primary-light-color;
    
    -rt-listview-background: -rt-main-light-color;
    -rt-listview-odd-background: -rt-main-mid-color;
    -rt-listview-zebra-border: #e4e4e4;
    -rt-listview-selected-background: derive(-var-accent-color, 90%);
    -rt-scroll-bar-foreground: -var-accent-color;
    -rt-scroll-bar-background: transparent;
    -rt-text-color: -rt-main-light-text-color;
    -rt-highlight-text-color:-rt-main-light-text-color;
}

.rt-list-view.primary-mid
{
    -var-accent-color: -rt-primary-mid-color;
    
    -rt-listview-background: -rt-main-light-color;
    -rt-listview-odd-background: -rt-main-mid-color;
    -rt-listview-zebra-border: #e4e4e4;
    -rt-listview-selected-background: derive(-var-accent-color, 90%);
    -rt-scroll-bar-foreground: -var-accent-color;
    -rt-scroll-bar-background: transparent;
    -rt-text-color: -rt-main-light-text-color;
    -rt-highlight-text-color:-rt-main-light-text-color;
}

.rt-list-view.primary-dark
{
    -var-accent-color: -rt-primary-dark-color;
    
    -rt-listview-background: -rt-main-light-color;
    -rt-listview-odd-background: -rt-main-mid-color;
    -rt-listview-zebra-border: #e4e4e4;
    -rt-listview-selected-background: derive(-var-accent-color, 90%);
    -rt-scroll-bar-foreground: -var-accent-color;
    -rt-scroll-bar-background: transparent;
    -rt-text-color: -rt-main-light-text-color;
    -rt-highlight-text-color:-rt-main-light-text-color;
}

.rt-list-view.secondary-light
{
    -var-accent-color: -rt-secondary-light-color;
    
    -rt-listview-background: -rt-main-light-color;
    -rt-listview-odd-background: -rt-main-mid-color;
    -rt-listview-zebra-border: #e4e4e4;
    -rt-listview-selected-background: derive(-var-accent-color, 90%);
    -rt-scroll-bar-foreground: -var-accent-color;
    -rt-scroll-bar-background: transparent;
    -rt-text-color: -rt-main-light-text-color;
    -rt-highlight-text-color:-rt-main-light-text-color;
}

.rt-list-view.secondary-mid
{
    -var-accent-color: -rt-secondary-mid-color;
    
    -rt-listview-background: -rt-main-light-color;
    -rt-listview-odd-background: -rt-main-mid-color;
    -rt-listview-zebra-border: #e4e4e4;
    -rt-listview-selected-background: derive(-var-accent-color, 90%);
    -rt-scroll-bar-foreground: -var-accent-color;
    -rt-scroll-bar-background: transparent;
    -rt-text-color: -rt-main-light-text-color;
    -rt-highlight-text-color:-rt-main-light-text-color;
}

.rt-list-view.secondary-dark
{
    -var-accent-color: -rt-secondary-dark-color;
    
    -rt-listview-background: -rt-main-light-color;
    -rt-listview-odd-background: -rt-main-mid-color;
    -rt-listview-zebra-border: #e4e4e4;
    -rt-listview-selected-background: derive(-var-accent-color, 90%);
    -rt-scroll-bar-foreground: -var-accent-color;
    -rt-scroll-bar-background: transparent;
    -rt-text-color: -rt-main-light-text-color;
    -rt-highlight-text-color:-rt-main-light-text-color;
}

.rt-list-view.base-light
{
    -var-accent-color: -rt-base-light-color;
    
    -rt-listview-background: -rt-main-light-color;
    -rt-listview-odd-background: -rt-main-mid-color;
    -rt-listview-zebra-border: #e4e4e4;
    -rt-listview-selected-background: derive(-var-accent-color, 90%);
    -rt-scroll-bar-foreground: -var-accent-color;
    -rt-scroll-bar-background: transparent;
    -rt-text-color: -rt-main-light-text-color;
    -rt-highlight-text-color:-rt-main-light-text-color;
}

.rt-list-view.base-mid
{
    -var-accent-color: -rt-base-mid-color;
    
    -rt-listview-background: -rt-main-light-color;
    -rt-listview-odd-background: -rt-main-mid-color;
    -rt-listview-zebra-border: #e4e4e4;
    -rt-listview-selected-background: derive(-var-accent-color, 90%);
    -rt-scroll-bar-foreground: -var-accent-color;
    -rt-scroll-bar-background: transparent;
    -rt-text-color: -rt-main-light-text-color;
    -rt-highlight-text-color:-rt-main-light-text-color;
}

.rt-list-view.base-dark
{
    -var-accent-color: -rt-base-dark-color;
    
    -rt-listview-background: -rt-main-light-color;
    -rt-listview-odd-background: -rt-main-mid-color;
    -rt-listview-zebra-border: #e4e4e4;
    -rt-listview-selected-background: derive(-var-accent-color, 90%);
    -rt-scroll-bar-foreground: -var-accent-color;
    -rt-scroll-bar-background: transparent;
    -rt-text-color: -rt-main-light-text-color;
    -rt-highlight-text-color:-rt-main-light-text-color;
}

/* TODO override list view skin and replace scroll bar with rt-scoll-bar */ 
/*-- ############################### List View Styles ############################### */
.rt-list-view
{
    -fx-background-color: -rt-listview-background;
}

.rt-list-view:focused
{
	-fx-background-color: -rt-listview-background;
}

.rt-list-view:focused .virtual-flow .clipped-container .sheet .list-cell:filled:selected
{
    -fx-background-color: -rt-listview-selected-background;
}

.list-view:focused .virtual-flow .clipped-container .sheet .list-cell:focused
{
    -fx-background-color: -rt-listview-selected-background;
}

/*-- ############################### List Cell Styles ############################### */
.list-cell 
{
    -fx-background-color: -rt-listview-background;
    -fx-text-fill: -rt-text-color;
    -fx-padding: 8 16 8 16;
    -fx-text-fill: -rt-text-color;
}

.list-view.plain .virtual-flow .clipped-container .sheet .list-cell,
.list-view.zebra .virtual-flow .clipped-container .sheet .list-cell
{
	-fx-border-width: 0 0 1 0;
}

.list-view.plain .virtual-flow .clipped-container .sheet .list-cell,
.list-view.plain .virtual-flow .clipped-container .sheet .list-cell:odd
{
    -fx-border-color: -rt-listview-background;
}

.list-view.zebra .virtual-flow .clipped-container .sheet .list-cell
{
    -fx-border-color: -rt-listview-zebra-border;
}

.list-view.zebra .virtual-flow .clipped-container .sheet .list-cell:odd
{
    -fx-background-color: -rt-listview-odd-background;
}

/*-- ############################### List View Scroll Bar Styles ############################### */
.list-view .virtual-flow .scroll-bar:vertical,
.list-view .virtual-flow .scroll-bar:horizontal
{
    -fx-background-color: -rt-scroll-bar-background;
    -fx-opacity: 30%;
}

.list-view .virtual-flow .scroll-bar:vertical:hover,
.list-view .virtual-flow .scroll-bar:horizontal:hover
{
    -fx-opacity: 50%;
}

.list-view .virtual-flow .scroll-bar:vertical:pressed,
.list-view .virtual-flow .scroll-bar:horizontal:pressed
{
    -fx-opacity: 100%;
}

.list-view .virtual-flow .scroll-bar:vertical .track,
.list-view .virtual-flow .scroll-bar:horizontal .track
{
    -fx-background-color: -rt-scroll-bar-background;
    -fx-border-color: -rt-scroll-bar-background;
}

.list-view .virtual-flow .scroll-bar:vertical .thumb,
.list-view .virtual-flow .scroll-bar:horizontal .thumb
{
    -fx-background-color: -rt-scroll-bar-foreground;
    -fx-background-radius: 6;
    -fx-border-width: 0 0 0 0;
}

.list-view .virtual-flow .scroll-bar:vertical .thumb:hover,
.list-view .virtual-flow .scroll-bar:horizontal .thumb:hover
{
    -fx-cursor: open_hand;
}

.list-view .virtual-flow .scroll-bar:vertical .thumb:pressed,
.list-view .virtual-flow .scroll-bar:horizontal .thumb:pressed
{
    -fx-cursor: closed_hand;
}

.list-view .virtual-flow .scroll-bar:vertical .increment-button,
.list-view .virtual-flow .scroll-bar:vertical .decrement-button,
.list-view .virtual-flow .scroll-bar:horizontal .increment-button,
.list-view .virtual-flow .scroll-bar:horizontal .decrement-button
{
    -fx-cursor: hand;
    -fx-padding: 2 2 2 2;
    -fx-border-width: 0;
}

/*-- ############################### List View Vertical Scroll Bar Style ############################### */
.list-view .virtual-flow .scroll-bar:vertical 
{
    -rt-size: 12;
    -fx-min-height: -rt-size;
    -fx-min-width: -rt-size;
    -fx-pref-width: -rt-size;
    -fx-max-width: -rt-size;
}

.list-view .virtual-flow .scroll-bar:vertical .track
{
    -rt-size: 12;
    -fx-min-height: -rt-size;
    -fx-min-width: -rt-size;
    -fx-pref-width: -rt-size;
    -fx-max-width: -rt-size;
}

.list-view .virtual-flow .scroll-bar:vertical .thumb
{
    -rt-size: 12;
    -fx-min-height: -rt-size;
    -fx-min-width: -rt-size;
    -fx-pref-width: -rt-size;
    -fx-max-width: -rt-size;
}

.list-view .virtual-flow .scroll-bar:vertical .increment-button .increment-arrow
{
    -fx-background-color: -rt-scroll-bar-foreground;
    -fx-shape: "M7,10L12,15L17,10H7Z";
}

.list-view .virtual-flow .scroll-bar:vertical .decrement-button .decrement-arrow
{
    -fx-background-color: -rt-scroll-bar-foreground;
    -fx-shape: "M7,15L12,10L17,15H7Z";
}

/*-- ############################### List View Horizontal Scroll Bar Style ############################### */
.list-view .virtual-flow .scroll-bar:horizontal 
{
    -rt-size: 12;
    -fx-min-width: -rt-size;
    -fx-min-height: -rt-size;
    -fx-pref-height: -rt-size;
    -fx-max-height: -rt-size;
}

.list-view .virtual-flow .scroll-bar:horizontal .track
{
    -rt-size: 12;
    -fx-min-width: -rt-size;
    -fx-min-height: -rt-size;
    -fx-pref-height: -rt-size;
    -fx-max-height: -rt-size;
}

.list-view .virtual-flow .scroll-bar:horizontal .thumb
{
    -rt-size: 12;
    -fx-min-width: -rt-size;
    -fx-min-height: -rt-size;
    -fx-pref-height: -rt-size;
    -fx-max-height: -rt-size;
}

.list-view .virtual-flow .scroll-bar:horizontal .increment-button .increment-arrow
{
    -fx-background-color: -rt-scroll-bar-foreground;
    -fx-shape: "M10,17L15,12L10,7V17Z";
}

.list-view .virtual-flow .scroll-bar:horizontal .decrement-button .decrement-arrow
{
    -fx-background-color: -rt-scroll-bar-foreground;
    -fx-shape: "M14,7L9,12L14,17V7Z";
}

/*-- ############################### List View Scroll Bar Corner Style ############################### */
.list-view .virtual-flow .corner
{
    -fx-background-color: -rt-scroll-bar-background;
}