/*-- ############################### Slider Accents ############################### */
.rt-slider.primary-light
{
    -unfilled-track-color: -rt-main-mid-color;
    -filled-track-color: -rt-primary-light-color;
    -thumb-color: -rt-primary-light-color;
}

.rt-slider.primary-mid
{
    -unfilled-track-color: -rt-main-mid-color;
    -filled-track-color: -rt-primary-mid-color;
    -thumb-color: -rt-primary-mid-color;
}

.rt-slider.primary-dark
{
    -unfilled-track-color: -rt-main-mid-color;
    -filled-track-color: -rt-primary-dark-color;
    -thumb-color: -rt-primary-dark-color;
}

.rt-slider.secondary-light
{
    -unfilled-track-color: -rt-main-mid-color;
    -filled-track-color: -rt-secondary-light-color;
    -thumb-color: -rt-secondary-light-color;
}

.rt-slider.secondary-mid
{
    -unfilled-track-color: -rt-main-mid-color;
    -filled-track-color: -rt-secondary-mid-color;
    -thumb-color: -rt-secondary-mid-color;
}

.rt-slider.secondary-dark
{
    -unfilled-track-color: -rt-main-mid-color;
    -filled-track-color: -rt-secondary-dark-color;
    -thumb-color: -rt-secondary-dark-color;
}

.rt-slider.base-light
{
    -unfilled-track-color: -rt-main-mid-color;
    -filled-track-color: -rt-base-light-color;
    -thumb-color: -rt-base-light-color;
}

.rt-slider.base-mid
{
    -unfilled-track-color: -rt-main-mid-color;
    -filled-track-color: -rt-base-mid-color;
    -thumb-color: -rt-base-mid-color;
}

.rt-slider.base-dark
{
    -unfilled-track-color: -rt-main-mid-color;
    -filled-track-color: -rt-base-dark-color;
    -thumb-color: -rt-base-dark-color;
}

/*-- ############################### Slider Style ############################### */
.rt-slider
{
	-fx-padding: 10 0 10 0;
}

.rt-slider:vertical 
{
	-fx-padding: 0 10 0 10;
}

.rt-slider .colored-track
{
    -fx-background-color: -filled-track-color;
    -fx-background-radius: 4
}

.rt-slider .track 
{
	-fx-background-color: -unfilled-track-color;
    -fx-background-insets: 1.5;
}

.rt-slider .thumb 
{
    -fx-cursor: hand;
	-fx-background-color: -thumb-color;
    -fx-effect: null;
}

.rt-slider:focused .thumb 
{
    -fx-cursor: hand;
	-fx-background-color: -thumb-color;
}

.rt-slider:vertical .track 
{
	-fx-background-color: -unfilled-track-color;
	-fx-background-insets: 1.5;
}

.rt-slider:vertical .thumb 
{
    -fx-cursor: hand;
	-fx-background-color: -thumb-color;
}