/* TODO add table tree */
/*-- ############################### Table View Accents ############################### */
.rt-table-view.primary-light
{
    -rt-accent-color: -rt-primary-light-color;
}

.rt-table-view.primary-mid
{
    -rt-accent-color: -rt-primary-mid-color;
}

.rt-table-view.primary-dark
{
    -rt-accent-color: -rt-primary-dark-color;
}

.rt-table-view.secondary-light
{
    -rt-accent-color: -rt-secondary-light-color;
}

.rt-table-view.secondary-mid
{
    -rt-accent-color: -rt-secondary-mid-color;
}

.rt-table-view.secondary-dark
{
    -rt-accent-color: -rt-secondary-dark-color;
}

.rt-table-view.base-light
{
    -rt-accent-color: -rt-base-light-color;
}

.rt-table-view.base-mid
{
    -rt-accent-color: -rt-base-mid-color;
}

.rt-table-view.base-dark
{
    -rt-accent-color: -rt-base-dark-color;
}

/*-- ############################### Table View Style ############################### */
.rt-table-view, .tree-table-view 
{
    -fx-background-color: transparent;
    
    -fx-padding: 1;

    /* TODO add this color to the template */
    -rt-border-color: #e4e4e4;
    -rt-text-fill: -rt-main-dark-text-color;
}

.rt-table-view .filler, 
.tree-table-view .filler, 
.rt-table-view .column-header,
.tree-table-view .column-header 
{
	-fx-background-color: transparent;
    -fx-border-style: null;
    -fx-border-style: solid segments(0, 12, 25, 15) solid solid;
	-fx-border-color: -rt-border-color;
	-fx-border-width: 0 2 1 0;
    -fx-font-family: "Roboto Black";
    -fx-padding: 4 16 4 16;
	-fx-size: 48px;
}

.rt-table-view .show-hide-columns-button, 
.tree-table-view .show-hide-columns-button
{
	-fx-background-color: transparent;
}

.rt-table-view .column-header .label, 
.rt-table-view .filler .label,
.rt-table-view .column-drag-header .label, 
.tree-table-view .column-header .label,
.tree-table-view .filler .label, 
.tree-table-view .column-drag-header .label
{
	-fx-alignment: center-left;
}

.rt-table-view .column-header-background, 
.tree-table-view .column-header-background
{
	-fx-background-color: transparent;
}

.rt-table-view .table-cell 
{
    -fx-alignment: center-left;
	-fx-border-width: 0 0 0 0;
    -fx-padding: 4 16 4 16;
    -fx-text-fill: -rt-text-fill;
}

.rt-table-view .table-row-cell
{
	-fx-cell-size: 48px;
	-fx-border-color: -rt-border-color;
	-fx-border-width: 0 0 1 0;
}

.rt-table-view.plain .table-row-cell
{
    -fx-background: -rt-main-light-color;
}

.rt-table-view.zebra .table-row-cell
{
    -fx-background: -rt-main-mid-color;
}

.rt-table-view .table-row-cell:odd 
{
	-fx-border-color: -rt-border-color;
	-fx-border-width: 0 0 1 0;
}

.rt-table-view.plain .table-row-cell:odd 
{
    -fx-background: -rt-main-light-color;
}

.rt-table-view.zebra .table-row-cell:odd 
{
    -fx-background: -rt-main-light-color;
}

.rt-table-view .column-header .arrow,
.rt-table-view .column-header .sort-order-dot 
{
    -fx-shape: "M 200 150 L 600 150 C 750 150 750 150 600 300 L 500 400 C 400 500 400 500 300 400 L 200 300 C 50 150 50 150 200 150 ";
    -fx-padding: 4;
    -fx-translate-x: 24;
    -fx-background-color: -rt-text-fill;
}

/* Dragging properties */
.rt-table-view .column-overlay 
{
    -fx-background-color: -rt-base-dark-color;
}

.rt-table-view .column-resize-line, .rt-table-view .column-drag-header 
{
    -fx-background-color: -rt-accent-color;
}

.table-view:focused .virtual-flow .clipped-container .sheet .table-row-cell:filled:selected,
.tree-table-view:focused .virtual-flow .clipped-container .sheet .tree-table-row-cell:filled:selected,
.table-view:focused .virtual-flow .clipped-container .sheet .table-row-cell .table-cell:selected,
.tree-table-view:focused .virtual-flow .clipped-container .sheet .tree-table-row-cell .tree-table-cell:selected 
{
    -fx-background: derive(-rt-accent-color, 90%);
    -fx-background-color: derive(-rt-accent-color, 90%);
    -fx-table-cell-border-color:  derive(-rt-accent-color, 90%);
}

.table-row-cell:filled:selected,
.tree-table-row-cell:filled:selected,
.table-row-cell:filled .table-cell:selected,
.tree-table-row-cell:filled .tree-table-cell:selected 
{
    -fx-background: derive(-rt-accent-color, 90%);
    -fx-background-color: derive(-rt-accent-color, 90%);
    -fx-table-cell-border-color:  derive(-rt-accent-color, 90%);
}

.table-view:focused:row-selection .virtual-flow .clipped-container .sheet .table-row-cell:focused,
.tree-table-view:focused:row-selection .virtual-flow .clipped-container .sheet .tree-table-row-cell:focused,
.table-view:focused:cell-selection .virtual-flow .clipped-container .sheet .table-row-cell .table-cell:focused,
.tree-table-view:focused:cell-selection .virtual-flow .clipped-container .sheet .tree-table-row-cell .tree-table-cell:focused 
{
    -fx-background: derive(-rt-accent-color, 90%);
    -fx-background-color: derive(-rt-accent-color, 90%);
    -fx-table-cell-border-color:  derive(-rt-accent-color, 90%);
}

/*-- ############################### Table Column Style ############################### */
.rt-table-column.text
{
    -fx-alignment: center-left;
}

.rt-table-column.number .label
{
    -fx-alignment: center-right;
}

.rt-table-column.number
{
    -fx-alignment: center-right;
}

/*-- ############################### Checkbox Table Cell Style ############################### */
.rt-check-box-table-cell 
{
    -fx-alignment: center-left;
    -fx-padding: 4 16 4 16;
}

.rt-check-box
{
    -fx-cursor: hand;
}

.rt-check-box .box
{
    -fx-pref-width: 18;
    -fx-pref-height: 18;

    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;

    -fx-background-color: transparent;
    -fx-background-radius: 2;

    -fx-border-color: -rt-accent-color;
    -fx-border-style: solid;
    -fx-border-radius: 2;
    -fx-border-width: 2;
}

.rt-check-box:hover .box
{
    -fx-border-color: derive(-rt-accent-color, 50.0%);
    -fx-border-radius: 2;
}

.rt-check-box:selected .box,
.rt-check-box:indeterminate .box,
.rt-check-box:indeterminate:selected .box
{
    -fx-border-color: -rt-accent-color;
    -fx-border-radius: 2;
}

 .rt-check-box .box .mark {
    -fx-shape: "M 6,12 C 6,12 4,14 4,14 4,14 10,20 10,20 10,20 22,8 22,8 22,8 20,6 20,6 20,6 10,16 10,16 10,16 6,12 6,12 Z";

    -fx-max-width: 12;
    -fx-max-height: 12;

    -fx-background-color: -rt-base-light-color;
    -fx-border-color: -rt-base-light-color;

    -fx-border-width: 2;
    -fx-border-radius: 2;
}

.rt-check-box .box .indeterminate-mark{
    -fx-background-color: -rt-accent-color;
    -fx-background-radius: 2;
    -fx-border-width: 0;
    -fx-max-width: 10;
    -fx-max-height: 10;
}


/*-- ############################### Scroll Pane Styles ############################### */
/* Figure out why this only gets set when the their is at least one explict scroll pane as a parent*/
.scroll-pane
{
    -fx-background-color: transparent;
}

.scroll-pane:focused
{
    -fx-background-color: transparent;
}

.scroll-pane .viewport
{
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar 
{
    -rt-size: 12;
    -fx-min-height: -rt-size;
    -fx-min-width: -rt-size;
    -fx-max-height: -rt-size;
}

/* TODO horizontal bar and corner styling */ 

.scroll-pane .scroll-bar .increment-button,
.scroll-pane .scroll-bar .decrement-button 
{
    -rt-size: 12;
    -fx-min-height: -rt-size;
    -fx-min-width: -rt-size;
    -fx-max-width: -rt-size;
    -fx-max-height: -rt-size;
}


.scroll-pane .scroll-bar:vertical 
{
    -fx-background-color: transparent;
    -fx-opacity: 30%;

    -rt-size: 12;
    -fx-min-height: -rt-size;
    -fx-min-width: -rt-size;
    -fx-max-width: -rt-size;
}

.scroll-pane .scroll-bar:vertical:hover
{
    -fx-opacity: 50%;
}

.scroll-pane .scroll-bar:vertical:pressed
{
    -fx-opacity: 100%;
}

.scroll-pane .scroll-bar:vertical .track
{
    -fx-background-color: transparent;
    -fx-border-color: transparent;

    -fx-min-height: -rt-size;
    -fx-min-width: -rt-size;
    -fx-pref-width: -rt-size;
    -fx-max-width: -rt-size;
}

.scroll-pane .scroll-bar:vertical .thumb
{
    -fx-cursor: open_hand;
    -fx-background-color: -rt-accent-color;
    -fx-background-radius: 6;
    -fx-border-width: 0 0 0 0;

    -rt-size: 12;
    -fx-min-height: -rt-size;
    -fx-min-width: -rt-size;
    -fx-pref-width: -rt-size;
    -fx-max-width: -rt-size;
}

.scroll-pane .scroll-bar:vertical .thumb:hover
{
    -fx-cursor: open_hand;
}


.scroll-pane .scroll-bar:vertical .thumb:pressed
{
    -fx-cursor: closed_hand;
}

.scroll-pane .scroll-bar:vertical .increment-button,
.scroll-pane .scroll-bar:vertical .decrement-button
{
    -fx-cursor: hand;
    -fx-padding: 2 2 2 2;
    -fx-border-width: 0;

    -rt-size: 12;
    -fx-min-height: -rt-size;
    -fx-min-width: -rt-size;
    -fx-max-width: -rt-size;
    -fx-max-height: -rt-size;
}

.scroll-pane .scroll-bar:vertical .increment-button .increment-arrow
{
    -fx-background-color: -rt-accent-color;
    -fx-shape: "M7,10L12,15L17,10H7Z";
}

.scroll-pane .scroll-bar:vertical .decrement-button .decrement-arrow
{
    -fx-background-color: -rt-accent-color;
    -fx-shape: "M7,15L12,10L17,15H7Z";
}