/*
TODO 
- Hover state
- Icon color
*/
/*-- ############################### Slider Accents ############################### */
.rt-titled-pane
{
    -rt-accent-color: -rt-primary-light-color;
    -rt-text-color: -rt-base-mid-text-color;
    -rt-unselected-border-color: -rt-base-mid-color;
}

.rt-titled-pane.primary-light
{
    -rt-accent-color: -rt-primary-light-color;
    -rt-text-color: -rt-base-mid-text-color;
    -rt-unselected-border-color: -rt-base-mid-color;
}

.rt-titled-pane.primary-mid
{
    -rt-accent-color: -rt-primary-light-color;
    -rt-text-color: -rt-base-mid-text-color;
    -rt-unselected-border-color: -rt-base-mid-color;
}

.rt-titled-pane.primary-dark
{
    -rt-accent-color: -rt-primary-light-color;
    -rt-text-color: -rt-base-mid-text-color;
    -rt-unselected-border-color: -rt-base-mid-color;
}

.rt-titled-pane.secondary-light
{
    -rt-accent-color: -rt-secondary-light-color;
    -rt-text-color: -rt-base-mid-text-color;
    -rt-unselected-border-color: -rt-base-mid-color;
}

.rt-titled-pane.secondary-mid
{
    -rt-accent-color: -rt-secondary-light-color;
    -rt-text-color: -rt-base-mid-text-color;
    -rt-unselected-border-color: -rt-base-mid-color;
}

.rt-titled-pane.secondary-dark
{
    -rt-accent-color: -rt-secondary-light-color;
    -rt-text-color: -rt-base-mid-text-color;
    -rt-unselected-border-color: -rt-base-mid-color;
}

.rt-titled-pane.base-light
{
    -rt-accent-color: -rt-base-light-color;
    -rt-text-color: -rt-base-mid-text-color;
    -rt-unselected-border-color: -rt-base-mid-color;
}

.rt-titled-pane.base-mid
{
    -rt-accent-color: -rt-base-light-color;
    -rt-text-color: -rt-base-mid-text-color;
    -rt-unselected-border-color: -rt-base-mid-color;
}

.rt-titled-pane.base-dark
{
    -rt-accent-color: -rt-base-light-color;
    -rt-text-color: -rt-base-mid-text-color;
    -rt-unselected-border-color: -rt-base-mid-color;
}

/*-- ############################### Titled Pane Style ############################### */
.rt-titled-pane
{
    -fx-cursor: hand;
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-background-radius: 4;
    -fx-min-height: 36;
    -fx-text-fill: -rt-base-mid-text-color;
}

.rt-titled-pane:focused 
{
    -fx-background-color: transparent;
}

.rt-titled-pane .title
{
    -fx-background-color: transparent;
    -fx-border-color: -rt-unselected-border-color;
    -fx-border-width: 0 0 2 0;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 8 16 8 16;
}

.rt.rt-titled-pane .title .text
{
    -fx-padding: 0 0 0 12;
}

.rt-titled-pane:expanded .title
{
    -fx-border-color: -rt-accent-color;
}

.rt-titled-pane .title .arrow-button 
{
    -fx-background-fill: transparent;
    
    -rt-size: 16;
    -fx-min-height: -rt-size;
    -fx-min-width: -rt-size;
    -fx-max-height: -rt-size;
    -fx-max-width: -rt-size;
}

.rt-titled-pane .title .arrow-button .arrow 
{
    -fx-shape: "M7,10L12,15L17,10H7Z";
}

.rt-titled-pane *.content 
{
    -fx-border-color: transparent;
    -fx-border-insets: 0;
    -fx-background-color: transparent
}

