/* TODO when unfocused, use a 50% derived color */
/*-- ############################### Tree View Accents ############################### */
.rt-tree-view.primary-light
{
    -rt-selected-color: derive(-rt-primary-light-color, 90%);
    -rt-selected-text-color: black;
    -rt-text-color: -rt-base-mid-text-color;
}

.rt-tree-view.primary-mid
{
    -rt-selected-color: derive(-rt-primary-mid-color, 90%);
    -rt-selected-text-color: black;
    -rt-text-color: -rt-base-mid-text-color;
}

.rt-tree-view.primary-dark
{
    -rt-selected-color: derive(-rt-primary-dark-color, 90%);
    -rt-selected-text-color: black;
    -rt-text-color: -rt-base-mid-text-color;
}

.rt-tree-view.secondary-light
{
    -rt-selected-color: derive(-rt-secondary-light-color, 90%);
    -rt-selected-text-color: black;
    -rt-text-color: -rt-base-mid-text-color;
}

.rt-tree-view.secondary-mid
{
    -rt-selected-color: derive(-rt-secondary-mid-color, 90%);
    -rt-selected-text-color: black;
    -rt-text-color: -rt-base-mid-text-color;
}

.rt-tree-view.secondary-dark
{
    -rt-selected-color: derive(-rt-primary-dark-color, 90%);
    -rt-selected-text-color: black;
    -rt-text-color: -rt-base-mid-text-color;
}

.rt-tree-view.base-light
{
    -rt-selected-color: derive(-rt-base-dark-color, 90%);
    -rt-selected-text-color: black;
    -rt-text-color: -rt-base-mid-text-color;
}

.rt-tree-view.base-mid
{
    -rt-selected-color: derive(-rt-base-dark-color, 90%);
    -rt-selected-text-color: black;
    -rt-text-color: -rt-base-mid-text-color;
}

.rt-tree-view.base-dark
{
    -rt-selected-color: derive(-rt-base-dark-color, 90%);
    -rt-selected-text-color: black;
    -rt-text-color: -rt-base-mid-text-color;
} 

/*-- ############################### Tree View Style ############################### */
.rt-tree-view
{
    -fx-padding: 4 16 4 16;
    -fx-background-color: transparent;
}

.rt-tree-view:focused
{
    -fx-border-width: 0 0 0 0;
    -fx-background-color: transparent;
}

.rt-tree-view .virtual-flow .clipped-container .sheet .tree-cell
{
    -fx-cursor: hand;
    -fx-padding: 8 0 8 0;
    -fx-font-size: 14px;
    -fx-background-color: transparent;
    -fx-text-fill: -rt-base-mid-text-color;
}

.rt-tree-view:focused .virtual-flow .clipped-container > .sheet .tree-cell:filled:selected
{
    -fx-background: -rt-selected-color;
    -fx-background-color: -rt-selected-color;
    -fx-text-fill: -rt-selected-text-color;
}

.tree-cell:filled:hover
{
    -fx-background: derive(-rt-selected-color, 50%);
}

.tree-cell:filled:selected
{
    -fx-background: -rt-selected-color;
    -fx-background-color: -rt-selected-color;
    -fx-text-fill: -rt-selected-text-color;
}