/*-- ############################### Button Style ############################### */
.rt-button
{
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-cursor: hand;
    -fx-font-size: 14;
    -fx-font-family: "Roboto Medium";
}

/*-- ############################### Raised Button Style ############################### */
.rt-button:raised
{
    -fx-background-color: -var-accent-color;
    -fx-background-insets: 0;
    -fx-background-radius: 4;
    -fx-border-color: -var-accent-color;
    -fx-border-radius: 4;
    -fx-border-width: 0;
    -fx-graphic-text-gap: 8;
    -fx-min-height: 36;
    -fx-min-width: 64;
    -fx-padding: 8 16 8 16;
    -fx-text-fill: -var-on-accent-color;

    -rt-overlay-color: -var-overlay-color;
}

.rt-button:raised:focused
{
    -fx-background-insets: 0;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-border-width: 0;
}

/*-- ############################### Flat Button Style ############################### */
.rt-button:flat
{
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 4;
    -fx-border-color: -var-accent-color;
    -fx-border-radius: 4;
    -fx-border-width: 1;
    -fx-graphic-text-gap: 8;
    -fx-min-height: 36;
    -fx-min-width: 64;
    -fx-padding: 8 16 8 16;
    -fx-text-fill: -var-accent-color;
    
    -rt-overlay-color: -var-overlay-color;
}

.rt-button:flat:focused
{
    -fx-background-insets: 0;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-border-width: 1;
}

/*-- ############################### Icon Button Style ############################### */
.rt-button:icon
{
    -fx-background-color: transparent;
    -fx-background-radius: 4;
    -fx-border-width: 0;
    -fx-border-radius: 4;
    -fx-graphic-text-gap: 8;
    -fx-padding: 4;
    -fx-insets: 0;
    -fx-font-family: "Roboto Medium";
    -fx-text-fill: -var-on-main-mid-color;
    
    -rt-overlay-color: -var-overlay-color;
}