/*-- ############################### Button Style ############################### */
.rt-button,
.rt-button.raised,
.rt-button.icon
{
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-cursor: hand;
    -fx-font-size: 14;
}

/*-- ############################### Raised Button Style ############################### */
.rt-button.raised
{
    -fx-background-color: -var-accent-color;
    -fx-background-insets: 0;
    -fx-background-radius: 4;
    -fx-border-color: -var-accent-color;
    -fx-border-radius: 4;
    -fx-border-width: 0;
    -fx-graphic-text-gap: 8;
    -fx-min-height: 36;
    -fx-min-width: 64;
    -fx-padding: 8 16 8 16;
    -fx-text-fill: -var-accent-text-color;

    -rt-overlay-color: -var-overlay-color;
}

.rt-button.raised:focused
{
    -fx-background-insets: 0;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-border-width: 0;
}

/*-- ############################### Flat Button Style ############################### */
.rt-button.flat
{
    -fx-background-color: -var-accent-color;
    -fx-background-insets: 0;
    -fx-background-radius: 4;
    -fx-border-color: -var-accent-color;
    -fx-border-radius: 4;
    -fx-border-width: 0;
    -fx-graphic-text-gap: 8;
    -fx-min-height: 36;
    -fx-min-width: 64;
    -fx-padding: 8 16 8 16;
    -fx-text-fill: -var-accent-text-color;
    
    -rt-overlay-color: -var-overlay-color;
}

.rt-button.flat:focused
{
    -fx-background-insets: 0;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-border-width: 0;
}

/*-- ############################### Icon Button Style ############################### */
.rt-button.icon
{
    -fx-background-color: transparent;
    -fx-background-radius: 4;
    -fx-border-width: 0;
    -fx-border-radius: 4;
    -fx-graphic-text-gap: 8;
    -fx-padding: 4;
    -fx-insets: 0;
    -fx-font-family: "Roboto Medium";
    -fx-text-fill: -var-main-mid-text-color;
    
    -rt-overlay-color: -var-overlay-color;
}