/*-- ############################### Check Box Style ############################### */ 
.rt-check-box 
{ 
    -fx-cursor: hand;
    -fx-graphic-text-gap: 12;
    -fx-padding: 4 8 4 8; 
    -fx-text-fill: -var-on-main-mid-color; 
     
    -rt-overlay-color: -var-overlay-color;
    -rt-selected-color: -var-accent-color; 
    -rt-unselected-color: -var-main-color-l4;
} 
 
.rt-check-box .box-marks
{
    -var-pref-width: 18; 
    -var-pref-height: 18; 
    -fx-max-width: -var-pref-width; 
    -fx-min-width: -var-pref-width; 
    -fx-pref-width: -var-pref-width; 
    -fx-pref-height: -var-pref-width; 
    -fx-max-height: -var-pref-height; 
    -fx-min-height: -var-pref-height; 
}

.rt-check-box .box 
{ 
    -fx-background-color: transparent; 
    -fx-background-radius: 2; 
    -fx-border-color: -var-main-color-l4; 
    -fx-border-style: solid; 
    -fx-border-radius: 2; 
    -fx-border-width: 2; 
    -fx-padding: 0; 
    -fx-insets: 0;
} 

.rt-check-box .colored-box
{
    -fx-background-color: -var-accent-color; 
    -fx-background-radius: 2; 
    -fx-padding: 0; 
    -fx-insets: 0;
}
 
.rt-check-box:selected .box, 
.rt-check-box:indeterminate .box, 
.rt-check-box:indeterminate:selected .box 
{ 
    -fx-background-insets: 0;  
    -fx-border-color: -var-accent-color; 
} 
 
.check-box:focused .box 
{ 
    -fx-background-insets: 0; 
    -fx-background-radius: 2; 
} 
 
 .rt-check-box .mark  
 { 
    -fx-shape: "M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z"; 
    -fx-max-width: 13; 
    -fx-max-height: 12; 
 
    /*  
    -fx-shape: "M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"; 
    -fx-max-width: 12; 
    -fx-max-height: 12;  
    */ 
 
    -fx-background-color: -var-main-color-l2; 
    -fx-border-color: -var-main-color-l2; 
} 
 
.rt-check-box .indeterminate-mark 
{
    -fx-shape: "M19 13H5v-2h14v2z";  
 
    -fx-max-width: 12; 
    -fx-max-height: 2;
 
    -fx-background-color: -var-main-color-l2; 
    -fx-border-color: -var-main-color-l2; 
} 
