/*
TODO
- Dropbdown arror background and border color
- Text color
- Menu background color
- Menu scroll bar color
- Padding
- Add bottom border
- Rename color inheritance
- Combo box height
- Change to a dense combo box?
*/

/*-- ############################### Combo Box Style ############################### */
.rt-combo-box
{
    -fx-background-color: -var-base-light-color;
	-fx-background-radius: 2.0;
    -fx-border-color: -var-base-dark-color;
    -fx-border-radius: 2.0;
    -fx-border-width: 0 0 2 0;
    -fx-cursor: hand;
    -fx-min-height: 56;
    -fx-max-width: 1000000;
    -fx-padding: 1 1 1 1;
    -fx-text-fill: -var-base-light-text-color;
}

.combo-box-base .text-input,
.combo-box-base,
.combo-box-base .label,
.rt-combo-box .label,
.combo-box-base:editable .arrow-button,
.combo-box-popup .list-view .placeholder .label 
{
    -fx-text-fill: -var-base-light-text-color;
}

.combo-box-base:editable:focused,
.rt-combo-box:focused
{
    -fx-background-color: -var-base-light-color;
    -fx-border-color: -var-accent-color;
}

.rt-combo-box .arrow-button .arrow
{
    -fx-shape: "M7,10L12,15L17,10H7Z";
}

.rt-combo-box:showing .arrow-button .arrow
{
    -fx-shape: "M7,15L12,10L17,15H7Z";
}

.rt-combo-box .combo-box-popup .list-view 
{
    -fx-background: -var-main-light-color;
    -fx-background-color: -var-main-light-color;
    -fx-background-radius: 2 2 2 2;
    -fx-border-color: -var-main-light-color;
    -fx-border-width: 0 0 0 0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.26), 12, 0.06, 0, 6);
    -fx-padding: 0 0 4 0;

    -fx-min-height: 28;
}

.rt-combo-box .combo-box-popup .list-view .virtual-flow .clipped-container .sheet .list-cell 
{
    -fx-cursor: hand;
    -fx-font-size: 14;
    -fx-padding: 8 8 8 8;
    -fx-text-fill: -var-base-dark-text-color;
}

/* Change derive color */
.rt-combo-box .combo-box-popup .list-view .virtual-flow .clipped-container .sheet .list-cell:filled:hover 
{
    -fx-background: derive(-var-accent-color, 50%);
    -fx-background-color: derive(-var-accent-color, 50%);
}

.rt-combo-box .combo-box-popup  .list-view .virtual-flow .clipped-container .sheet .list-cell:filled:selected,
.rt-combo-box .combo-box-popup  .list-view .virtual-flow .clipped-container .sheet .list-cell:filled:selected:hover 
{
    -fx-background: -var-accent-color;
    -fx-background-color: -var-accent-color;
}

.combo-box-base:editable .arrow-button,
.combo-box-base:editable:focused .arrow-button
{
    -fx-background-color: transparent;

    -rt-size: 16;
    -fx-min-height: -rt-size;
    -fx-min-width: -rt-size;
    -fx-max-height: -rt-size;
    -fx-max-width: -rt-size;
}
 
.combo-box-base:editable .text-field
{
    /* TODO use accent colors*/
    -fx-background-color: -var-base-light-color;
    -fx-control-inner-background: -var-base-light-color;
    -fx-faint-focus-color: -var-base-light-color;
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-effect: null;
}

.combo-box-base:editable:focused .text-field,
.combo-box-base:editable .text-field:focused
{
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}

/*-- ############################### Combo Box Popup Style ############################### */
.combo-box-popup .list-view 
{
    -fx-background-color: -var-main-light-color;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 12, 0.0 , 0 , 8 );
}

.combo-box-popup .rt-list-view:focused
{
	-fx-background-color: -var-main-light-color;
}

.combo-box-popup .list-view:focused .virtual-flow .clipped-container .sheet .list-cell:focused,
.combo-box-popup .rt-list-view:focused .virtual-flow .clipped-container .sheet .list-cell:filled:selected
{
    -fx-background-color: -var-accent-color;
}

/*-- ############################### List View Vertical Scroll Bar Style ############################### */
.combo-box-popup .list-view .virtual-flow .scroll-bar:vertical,
.combo-box-popup .list-view .virtual-flow .scroll-bar:vertical .track,
.combo-box-popup .list-view .virtual-flow .scroll-bar:vertical .thumb
{
    -rt-size: 12;
    -fx-min-height: -rt-size;
    -fx-min-width: -rt-size;
    -fx-pref-width: -rt-size;
    -fx-max-width: -rt-size;
}

.combo-box-popup .list-view .virtual-flow .scroll-bar:vertical .increment-button .increment-arrow,
.combo-box-popup .list-view .virtual-flow .scroll-bar:vertical .decrement-button .decrement-arrow
{
    -fx-background-color: -var-accent-color;
}

.combo-box-popup .list-view .virtual-flow .scroll-bar:vertical .increment-button .increment-arrow
{
    -fx-shape: "M7,10L12,15L17,10H7Z";
}

.combo-box-popup .list-view .virtual-flow .scroll-bar:vertical .decrement-button .decrement-arrow
{
    -fx-shape: "M7,15L12,10L17,15H7Z";
}

/*-- ############################### List View Horizontal Scroll Bar Style ############################### */
.combo-box-popup .list-view .virtual-flow .scroll-bar:horizontal,
.combo-box-popup .list-view .virtual-flow .scroll-bar:horizontal .track,
.combo-box-popup .list-view .virtual-flow .scroll-bar:horizontal .thumb
{
    -rt-size: 12;
    -fx-min-width: -rt-size;
    -fx-min-height: -rt-size;
    -fx-pref-height: -rt-size;
    -fx-max-height: -rt-size;
}
.combo-box-popup .list-view .virtual-flow .scroll-bar:horizontal .increment-button .increment-arrow,
.combo-box-popup .list-view .virtual-flow .scroll-bar:horizontal .decrement-button .decrement-arrow
{
    -fx-background-color: -var-accent-color;
}

.combo-box-popup .list-view .virtual-flow .scroll-bar:horizontal .increment-button .increment-arrow
{
    -fx-shape: "M10,17L15,12L10,7V17Z";
}

.combo-box-popup .list-view .virtual-flow .scroll-bar:horizontal .decrement-button .decrement-arrow
{
    -fx-shape: "M14,7L9,12L14,17V7Z";
}

/*-- ############################### List View Scroll Bar Corner Style ############################### */
.combo-box-popup .list-view .virtual-flow .corner
{
    -fx-background-color: transparent;
}