/*
TODO
- Fix scroll bar style
*/

/*-- ############################### Combo Box Style ############################### */
.rt-combo-box,
.rt-combo-box:focused
{
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-cursor: default;
    -fx-font-size: 14;
    -fx-max-width: 1000000;
    -fx-min-height: 48;
    -fx-padding: 0;
    -fx-prompt-text-fill: -var-on-main-light-color;
    -fx-text-fill: -var-on-main-mid-color;

    -rt-focus-color: -var-accent-color;
    -rt-overlay-color: -var-base-overlay-color;
    -rt-unfocus-color: -var-main-color-l4;
    -rt-helper-text-height: 24;
}

.rt-combo-box .list-cell
{
    -fx-text-fill: -var-on-main-mid-color;
    -fx-padding: 0;
}

.rt-combo-box .input-container
{
    -fx-cursor: hand;
    -fx-background-color: -var-main-color-l2;
	-fx-background-radius: 4 4 0 0;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-padding: 16;
    -fx-min-height: 48;
}

.rt-combo-box .prompt-container
{
    -fx-cursor: hand;
	-fx-background-radius: 4 4 0 0;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-padding: 16;
}

.rt-combo-box .input-focused-line
{
    -fx-background-color: -var-accent-color;
	-fx-background-radius: 0;
    -fx-border-radius: 0;

    -var-height: 2;
    -fx-pref-height: -var-height;
    -fx-max-height: -var-height;
}

.rt-combo-box .input-unfocused-line
{
    -fx-background-color: -var-main-color-l4;
	-fx-background-radius: 0;
    -fx-border-radius: 0;
    
    -var-height: 2;
    -fx-pref-height: -var-height;
    -fx-max-height: -var-height;
}

.combo-box .arrow, 
.combo-box .arrow-button .arrow 
{
    -fx-background-color: -var-on-main-light-color;
    -fx-cursor: hand;
    -fx-shape: "M7,10L12,15L17,10H7Z";

    -var-height: 4;
    -fx-min-height: -var-height;
    -fx-max-height: -var-height;

    -var-width: 10;
    -fx-min-width: -var-width;
    -fx-max-width: -var-width;
}

.combo-box-base:showing .arrow, 
.combo-box-base:showing .arrow-button .arrow 
{
    -fx-cursor: hand;
    -fx-background-color: -var-accent-color;
    -fx-shape: "M7,15L12,10L17,15H7Z";

    -var-height: 4;
    -fx-min-height: -var-height;
    -fx-max-height: -var-height;

    -var-width: 10;
    -fx-min-width: -var-width;
    -fx-max-width: -var-width;
}

/*-- ############################### Pseudo State Padding ############################### */
.rt-combo-box:helper
{
    -fx-min-height: 72;
}

.rt-combo-box:helper .helper-container
{
    -fx-border-width: 2;
    -fx-min-height: 16;
    -fx-padding: 2 16 2 16;
}

.rt-combo-box:helper .helper-container .helper-text
{
    -fx-fill: -var-on-main-light-color;
    -fx-font-size: 12;
    -fx-text-alignment: left;
}

.rt-combo-box:floating .input-container
{
    -fx-padding: 22 16 6 16;
}

.rt-combo-box:helper .error-container
{
    -fx-border-width: 2;
    -fx-min-height: 16;
    -fx-padding: 2 16 2 16;
}

.rt-combo-box:helper .error-container .error-text
{
    -fx-fill: -var-error-color;
    -fx-font-size: 12;
    -fx-text-alignment: left;
}

.rt-combo-box:error
{
    -rt-focus-color: -var-error-color;
    -rt-unfocus-color: -var-error-color;
    -fx-prompt-text-fill: -var-error-color;
}

.rt-combo-box:error .input-container
{
    -fx-background-color: -var-light-error-color;
}

 
/*-- ############################### Editable Style ############################### */
.combo-box-base:editable .text-field
{
    -fx-background-color: -var-main-color-l2;
    -fx-control-inner-background: -var-main-color-l2;
    -fx-faint-focus-color: -var-main-color-l2;
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-effect: null;
}

.combo-box-base:editable:focused .text-field,
.combo-box-base:editable .text-field:focused
{
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}

/*-- ############################### Combo-box List View Style ############################### */
.rt-combo-box .combo-box-popup .list-view 
{
    -fx-background: -var-main-color-l1;
    -fx-background-color: -var-main-color-l1;
    -fx-background-radius: 2 2 2 2;
    -fx-border-color: -var-main-color-l1;
    -fx-border-width: 0 0 0 0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.26), 12, 0.06, 0, 6);
    -fx-padding: 0 0 4 0;

    -fx-min-height: 28;
}

.rt-combo-box .combo-box-popup .list-view .virtual-flow .clipped-container .sheet .list-cell 
{
    -fx-cursor: hand;
    -fx-font-size: 14;
    -fx-padding: 8 8 8 8;
    -fx-text-fill: -var-on-main-mid-color;
}

.rt-combo-box .combo-box-popup .list-view .virtual-flow .clipped-container .sheet .list-cell:filled:hover 
{
    -fx-background-color: ladder(#888888, transparent 0%, -var-accent-color 100%);
    -fx-text-fill: -var-on-accent-color;
}

.rt-combo-box .combo-box-popup  .list-view .virtual-flow .clipped-container .sheet .list-cell:filled:selected,
.rt-combo-box .combo-box-popup  .list-view .virtual-flow .clipped-container .sheet .list-cell:filled:selected:hover 
{
    -fx-background-color: -var-accent-color;
    -fx-text-fill: -var-on-accent-color;
}

.combo-box-base:editable .arrow-button,
.combo-box-base:editable:focused .arrow-button
{
    -fx-background-color: transparent;

    -rt-size: 16;
    -fx-min-height: -rt-size;
    -fx-min-width: -rt-size;
    -fx-max-height: -rt-size;
    -fx-max-width: -rt-size;
}

/*-- ############################### Combo Box Popup Style ############################### */
.combo-box-popup .list-view 
{
    -fx-background-color: -var-main-color-l1;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 12, 0.0 , 0 , 8 );
}

.combo-box-popup .rt-list-view:focused
{
	-fx-background-color: -var-main-color-l1;
}

.combo-box-popup .list-view:focused .virtual-flow .clipped-container .sheet .list-cell:focused,
.combo-box-popup .rt-list-view:focused .virtual-flow .clipped-container .sheet .list-cell:filled:selected
{
    -fx-background-color: -var-accent-color;
}

/*-- ############################### Combo Box Scroll Bar Styles ############################### */
.combo-box-popup .list-view .virtual-flow .scroll-bar:vertical,
.combo-box-popup .list-view .virtual-flow .scroll-bar:horizontal
{
    -fx-background-color: transparent;
    -fx-opacity: 30%;
}

.combo-box-popup .list-view .virtual-flow .scroll-bar:vertical:hover,
.combo-box-popup .list-view .virtual-flow .scroll-bar:horizontal:hover
{
    -fx-opacity: 50%;
}

.combo-box-popup .list-view .virtual-flow .scroll-bar:vertical:pressed,
.combo-box-popup .list-view .virtual-flow .scroll-bar:horizontal:pressed
{
    -fx-opacity: 100%;
}

.combo-box-popup .list-view .virtual-flow .scroll-bar:vertical .track,
.combo-box-popup .list-view .virtual-flow .scroll-bar:horizontal .track
{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.combo-box-popup .list-view .virtual-flow .scroll-bar:vertical .thumb,
.combo-box-popup .list-view .virtual-flow .scroll-bar:horizontal .thumb
{
    -fx-background-color: -var-accent-color;
    -fx-background-radius: 6;
    -fx-border-width: 0 0 0 0;
}

.combo-box-popup .list-view .virtual-flow .scroll-bar:vertical .thumb:hover,
.combo-box-popup .list-view .virtual-flow .scroll-bar:horizontal .thumb:hover
{
    -fx-cursor: open_hand;
}

.combo-box-popup .list-view .virtual-flow .scroll-bar:vertical .thumb:pressed,
.combo-box-popup .list-view .virtual-flow .scroll-bar:horizontal .thumb:pressed
{
    -fx-cursor: closed_hand;
}

.combo-box-popup .list-view .virtual-flow .scroll-bar:vertical .increment-button,
.combo-box-popup .list-view .virtual-flow .scroll-bar:vertical .decrement-button,
.combo-box-popup .list-view .virtual-flow .scroll-bar:horizontal .increment-button,
.combo-box-popup .list-view .virtual-flow .scroll-bar:horizontal .decrement-button
{
    -fx-cursor: hand;
    -fx-padding: 2 2 2 2;
    -fx-border-width: 0;
}

/*-- ############################### List View Vertical Scroll Bar Style ############################### */
.combo-box-popup .list-view .virtual-flow .scroll-bar:vertical,
.combo-box-popup .list-view .virtual-flow .scroll-bar:vertical .track,
.combo-box-popup .list-view .virtual-flow .scroll-bar:vertical .thumb
{
    -rt-size: 12;
    -fx-min-height: -rt-size;
    -fx-min-width: -rt-size;
    -fx-pref-width: -rt-size;
    -fx-max-width: -rt-size;
}

.combo-box-popup .list-view .virtual-flow .scroll-bar:vertical .increment-button .increment-arrow,
.combo-box-popup .list-view .virtual-flow .scroll-bar:vertical .decrement-button .decrement-arrow
{
    -fx-background-color: -var-accent-color;
}

.combo-box-popup .list-view .virtual-flow .scroll-bar:vertical .increment-button .increment-arrow
{
    -fx-shape: "M7,10L12,15L17,10H7Z";
}

.combo-box-popup .list-view .virtual-flow .scroll-bar:vertical .decrement-button .decrement-arrow
{
    -fx-shape: "M7,15L12,10L17,15H7Z";
}

/*-- ############################### List View Horizontal Scroll Bar Style ############################### */
.combo-box-popup .list-view .virtual-flow .scroll-bar:horizontal,
.combo-box-popup .list-view .virtual-flow .scroll-bar:horizontal .track,
.combo-box-popup .list-view .virtual-flow .scroll-bar:horizontal .thumb
{
    -rt-size: 12;
    -fx-min-width: -rt-size;
    -fx-min-height: -rt-size;
    -fx-pref-height: -rt-size;
    -fx-max-height: -rt-size;
}
.combo-box-popup .list-view .virtual-flow .scroll-bar:horizontal .increment-button .increment-arrow,
.combo-box-popup .list-view .virtual-flow .scroll-bar:horizontal .decrement-button .decrement-arrow
{
    -fx-background-color: -var-accent-color;
}

.combo-box-popup .list-view .virtual-flow .scroll-bar:horizontal .increment-button .increment-arrow
{
    -fx-shape: "M10,17L15,12L10,7V17Z";
}

.combo-box-popup .list-view .virtual-flow .scroll-bar:horizontal .decrement-button .decrement-arrow
{
    -fx-shape: "M14,7L9,12L14,17V7Z";
}

/*-- ############################### List View Scroll Bar Corner Style ############################### */
.combo-box-popup .list-view .virtual-flow .corner
{
    -fx-background-color: transparent;
}