/*
TODO
- Child menu arrow button
- Child menu backbround color
- Distinguish radio vs checkbox marks
*/

/*-- ############################### Table View Accents ############################### */
.rt-context-menu.primary-light
{
    -var-accent-color: -var-primary-light-color;
}

.rt-context-menu.primary-mid
{
    -var-accent-color: -var-primary-mid-color;
}

.rt-context-menu.primary-dark
{
    -var-accent-color: -var-primary-dark-color;
}

.rt-context-menu.secondary-light
{
    -var-accent-color: -var-secondary-light-color;
}

.rt-context-menu.secondary-mid
{
    -var-accent-color: -var-secondary-mid-color;
}

.rt-context-menu.secondary-dark
{
    -var-accent-color: -var-secondary-dark-color;
}

.rt-context-menu.base-light
{
    -var-accent-color: -var-base-light-color;
}

.rt-context-menu.base-mid
{
    -var-accent-color: -var-base-mid-color;
}

.rt-context-menu.base-dark
{
    -var-accent-color: -var-base-dark-color;
}

/*-- ############################### Table View Accents ############################### */
/* TODO still a lot of work. Padding, hover state foreground for radio buttons, sub menu icon */
.rt-context-menu
{
    -fx-background-color: -var-main-light-color;
    -fx-background-radius: 2 2 2 2;
    -fx-border-color: -var-main-light-color;
    -fx-border-width: 0 0 0 0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.26), 12, 0.06, 0, 6);
    -fx-padding: 4 0 4 0;

    -fx-min-height: 28;
}

.rt-context-menu .separator:horizontal
{
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-padding: 6 0 6 28;
}

.rt-context-menu .separator:horizontal .line
{
    -fx-border-color: -var-base-dark-text-color;
    -fx-border-width: 1 0 0 0;
}

.menu-item
{
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-padding: 4 8 4 8;
}

.menu-item:hover
{
    -fx-background: derive(-var-accent-color, 90%);
    -fx-background-color: derive(-var-accent-color, 90%);
}

.menu-item:focused
{
    -fx-background: derive(-var-accent-color, 90%);
    -fx-background-color: derive(-var-accent-color, 90%);
}

.menu-item .label 
{
    -fx-cursor: hand;
    -fx-font-size: 14;
    -fx-min-height: 28;
    -fx-text-fill: -var-base-dark-text-color;
}

.menu-item:focused .label 
{
    -fx-font-size: 14;
    -fx-min-height: 28;
    -fx-text-fill: -var-base-dark-text-color;
}

.check-menu-item:checked .left-container .check 
{
    -fx-background: -var-accent-color;
    -fx-background-color: -var-accent-color;
    -fx-shape: "M 6,12 C 6,12 4,14 4,14 4,14 10,20 10,20 10,20 22,8 22,8 22,8 20,6 20,6 20,6 10,16 10,16 10,16 6,12 6,12 Z";
    -fx-scale-shape: true;

    -rt-size: 10;
    -fx-min-height: -rt-size;
    -fx-min-width: -rt-size;
    -fx-pref-height: -rt-size;
    -fx-pref-width: -rt-size;
    -fx-max-height: -rt-size;
    -fx-max-width: -rt-size;
}
.check-menu-item:focused:checked .left-container .check 
{
    -fx-background: -var-accent-color;
    -fx-background-color: -var-accent-color;
}

.radio-menu-item:checked .left-container .radio 
{
    -fx-background: -var-accent-color;
    -fx-background-color: -var-accent-color;
    -fx-shape: "M 6,12 C 6,12 4,14 4,14 4,14 10,20 10,20 10,20 22,8 22,8 22,8 20,6 20,6 20,6 10,16 10,16 10,16 6,12 6,12 Z";
    -fx-scale-shape: true;

    -rt-size: 10;
    -fx-min-height: -rt-size;
    -fx-min-width: -rt-size;
    -fx-pref-height: -rt-size;
    -fx-pref-width: -rt-size;
    -fx-max-height: -rt-size;
    -fx-max-width: -rt-size;
}

.check-menu-item:focused:checked .left-container .check 
{
    -fx-background: -var-accent-color;
    -fx-background-color: -var-accent-color;
}