/*-- ############################### Label ############################### */
.rt-label
{
    -fx-alignment: center-left;
    -fx-padding: 2 2 2 2;
    -fx-text-alignment: center;
}

.rt-label.base
{
    -var-accent-color: -var-on-main-mid-color;
}

/*-- ############################### Small ############################### */
.rt-label:small
{
    -fx-font-size: 12px;
    -fx-text-fill: -var-accent-color;
}

/*-- ############################### Normal ############################### */
.rt-label:normal
{
    -fx-font-size: 14px;
    -fx-text-fill: -var-accent-color;
}

/*-- ############################### Large ############################### */
.rt-label:large
{
    -fx-font-size: 16px;
    -fx-text-fill: -var-accent-color;
}

/*-- ############################### Title ############################### */
.rt-label:title
{
    -fx-font-size: 18px;
    -fx-text-fill: -var-accent-color;
}

/*-- ############################### Block Title ############################### */
.rt-label:block-title
{
    -fx-alignment: center;
    -fx-background-color: -var-accent-color;
    -fx-font-size: 18px;
    -fx-font-family: "Roboto Medium";
    -fx-max-width: 1000000;
    -fx-padding: 10 16 10 16;
    -fx-text-alignment: center;
    -fx-text-fill: -var-on-accent-color;
    -fx-wrap-text: true;
}