/*-- ############################### List View Styles ############################### */
.rt-list-view,
.rt-combo-box .combo-box-popup .list-view 
{
    -fx-background-color: -var-main-color-l1;
}

.rt-list-view:focused
{
	-fx-background-color: -var-main-color-l1;
}

.rt-list-view:focused .virtual-flow .clipped-container .sheet .list-cell:filled:selected,
.rt-list-view:solid .virtual-flow .clipped-container .sheet .list-cell:filled:selected,
.rt-list-view:solid .virtual-flow .clipped-container .sheet .list-cell:odd:filled:selected,
.rt-list-view:focused .virtual-flow .clipped-container .sheet .list-cell:focused,
.rt-list-view:solid .virtual-flow .clipped-container .sheet .list-cell:focused,
.rt-list-view:solid .virtual-flow .clipped-container .sheet .list-cell:odd:focused,
.rt-list-view:striped .virtual-flow .clipped-container .sheet .list-cell:focused,
.rt-list-view:striped .virtual-flow .clipped-container .sheet .list-cell:odd:focused,
.combo-box-popup .list-view .virtual-flow .clipped-container .sheet .list-cell:selected,
.combo-box-popup .list-view .virtual-flow .clipped-container .sheet .list-cell:filled:selected
{
    -fx-background-color: ladder(#bbbbbb, transparent 0%, -var-accent-color 100%);
    -fx-border-color: transparent;
    -fx-text-fill: -var-on-accent-color;
}

.rt-list-view:solid .virtual-flow .clipped-container .sheet .list-cell:focused:hover,
.rt-list-view:solid .virtual-flow .clipped-container .sheet .list-cell:odd:focused:hover,
.rt-list-view:striped .virtual-flow .clipped-container .sheet .list-cell:focused:hover,
.rt-list-view:striped .virtual-flow .clipped-container .sheet .list-cell:odd:focused:hover,
.combo-box-popup .list-view .virtual-flow .clipped-container .sheet .list-cell:selected:hover,
.combo-box-popup .list-view .virtual-flow .clipped-container .sheet .list-cell:filled:selected:hover 
{
    -fx-background-color: -var-accent-color;
    -fx-border-color: transparent;
    -fx-text-fill: -var-on-accent-color;
}

.rt-list-view .virtual-flow .clipped-container .sheet .list-cell:hover,
.rt-list-view:solid .virtual-flow .clipped-container .sheet .list-cell:hover,
.rt-list-view:solid .virtual-flow .clipped-container .sheet .list-cell:odd:hover,
.rt-list-view:striped .virtual-flow .clipped-container .sheet .list-cell:hover,
.rt-list-view:striped .virtual-flow .clipped-container .sheet .list-cell:odd:hover,
.combo-box-popup .list-view .virtual-flow .clipped-container .sheet .list-cell:filled:hover
{
    -fx-background-color: ladder(#444444, transparent 0%, -var-accent-color 100%);
    -fx-border-color: transparent;
}

/*-- ############################### List Cell Styles ############################### */
.list-cell,
.combo-box-popup .list-view .virtual-flow .clipped-container .sheet .list-cell 
{
    -fx-background-color: -var-main-color-l1;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-cursor: hand;
    -fx-font-size: 14;
    -fx-padding: 8 16 8 16;
    -fx-text-fill: -var-on-main-mid-color;
}

.rt-list-view:solid .virtual-flow .clipped-container .sheet .list-cell,
.rt-list-view:striped .virtual-flow .clipped-container .sheet .list-cell
{
	-fx-border-width: 0 0 1 0;
}

.rt-list-view:solid .virtual-flow .clipped-container .sheet .list-cell,
.rt-list-view:solid .virtual-flow .clipped-container .sheet .list-cell:odd
{
    -fx-border-color: -var-main-color-l1;
	-fx-border-width: 0 0 1 0;
}

.rt-list-view:striped .virtual-flow .clipped-container .sheet .list-cell
{
	-fx-border-color: -var-main-color-l3;
	-fx-border-width: 0 0 1 0;
}

.rt-list-view:striped .virtual-flow .clipped-container .sheet .list-cell:odd
{
    -fx-background-color: -var-main-color-l2;
	-fx-border-width: 0 0 1 0;
}