/*-- ############################### Radio Button Styles ############################### */ 
.rt-radio-button  
{ 
    -fx-cursor: hand; 
    -fx-label-padding: 0 0 0 12; 
    -fx-padding: 4 8 4 8; 
    -fx-text-fill: -var-on-main-mid-color; 
     
    -rt-selected-color: -var-accent-color; 
	-rt-unselected-color: -var-main-color-l4;
	
    -rt-overlay-color: -var-overlay-color;
} 
 
.rt-radio-button:hover .radio-container
{
    -var-pref-width: 18; 
    -var-pref-height: 18; 
    -fx-max-width: -var-pref-width; 
    -fx-min-width: -var-pref-width; 
    -fx-pref-width: -var-pref-width; 
    -fx-pref-height: -var-pref-width; 
    -fx-max-height: -var-pref-height; 
    -fx-min-height: -var-pref-height; 
}

.rt-radio-button .radio,  
.rt-radio-button .radio.unfocused,  
.rt-radio-button:disabled .radio  
{ 
	-fx-border-radius: 100.0; 
	-fx-border-width: 2; 
	-fx-background-radius: 100; 
	-fx-background-color: transparent; 
	-fx-padding: 3; 
} 
 
.rt-radio-button:focused .radio  
{ 
	-fx-background-color: transparent; 
	-fx-padding: 3; 
} 
 
.rt-radio-button:focused:armed .radio  
{ 
	-fx-background-color: transparent; 
	-fx-padding: 3;
} 
 
.rt-radio-button:hover .radio-container .radio
{ 
	-fx-stroke: -var-main-color-l3;
} 
 
.rt-radio-button:armed .radio-container .radio
{ 
	-fx-stroke: -var-accent-color;
}