/*-- ############################### Separator Style ############################### */
.rt-separator:horizontal .line,
.rt-separator:vertical .line
{
    -fx-border-color: -var-accent-color;
    -fx-border-color: -var-accent-color;
    -fx-border-width: 0.5;
}

.rt-separator:horizontal
{
    -fx-padding: 4 0 4 0;
}

.rt-separator:vertical
{
	-fx-padding: 0 4 0 4;
}
