/*-- ############################### Separator Style ############################### */
.rt-separator:horizontal .line,
.rt-separator:vertical .line
{
    -fx-border-color: -var-accent-color;
    -fx-border-color: -var-accent-color;
    -fx-border-width: 0.5;
}

.rt-separator:horizontal
{
    -fx-padding: 8 0 8 0;
}

.rt-separator:vertical
{
	-fx-padding: 0 8 0 8;
}

/*-- ############################### Separator Accent ############################### */
.rt-separator.base
{
    -var-accent-color: -var-main-color-l4;
}
