/*
TODO
- Slider padding
*/

/*-- ############################### Slider Style ############################### */
.slider,
.slider:horizontal,
.slider:vertical,
.rt-slider,
.rt-slider:horizontal,
.rt-slider:vertical
{
    -rt-filled-track-color: -var-accent-color;
    -rt-overlay-color: -var-overlay-color;
    -rt-unfilled-track-color: -var-main-color-l3;
    -rt-thumb-color: -var-accent-color;
}

.rt-slider:horizontal
{
    -fx-padding: 8 0 8 0;
    -fx-min-height: 16;
}

.rt-slider:vertical 
{
	-fx-padding: 0 8 0 8;
    -fx-min-width: 16;
}

.rt-slider .track,
.rt-slider:horizontal .track,
.rt-slider:vertical .track 
{
	-fx-background-color: -var-main-color-l3;
    -fx-background-insets: 0;
    -fx-border-width: 0;
}

.rt-slider .thumb,
.rt-slider:horizontal .thumb,
.rt-slider:vertical .thumb 
{
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-effect: null;
    -fx-background-insets: 0;
    -fx-background-radius: 16;
    -fx-padding: 0;

    -var-size: 16;
    -fx-pref-width: -var-size;
    -fx-pref-height: -var-size;
}

.rt-slider:focused .thumb
{
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-background-radius: 16;
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-padding: 0;
}

.rt-slider .axis 
{
    -fx-tick-label-fill: -var-on-main-mid-color;
    -fx-tick-label-gap: 4;
    -fx-tick-length: 5px;
    -fx-minor-tick-length: 4px;
    -fx-border-color: null;
}

.rt-slider .axis .axis-tick-mark, .slider .axis .axis-minor-tick-mark 
{
    -fx-fill: null;
    -fx-stroke: -var-on-main-mid-color;
}

/*-- ############################### RT SubStructure Style ############################### */
.rt-slider .colored-track
{
    -fx-background-color: -var-accent-color;
    -fx-background-radius: 4
}

.rt-slider .circle-thumb
{
    -fx-radius: 8;
}