/*
TODO
- Slider padding
*/

/*-- ############################### Slider Style ############################### */
.rt-slider:horizontal
{
    -fx-padding: 8 0 8 0;
    -fx-min-height: 16;
}

.rt-slider:vertical 
{
	-fx-padding: 0 8 0 8;
    -fx-min-width: 16;
}

.rt-slider .track,
.rt-slider:horizontal .track,
.rt-slider:vertical .track 
{
	-fx-background-color: -rt-base-mid-color;
    -fx-background-insets: 1.5;
}

.rt-slider .thumb,
.rt-slider:horizontal .thumb,
.rt-slider:vertical .thumb 
{
    -fx-cursor: hand;
	-fx-background-color: -var-accent-color;
    -fx-effect: null;
    -fx-background-insets: 0;
    -fx-background-radius: 16;
    -fx-padding: 0;
    -fx-pref-width: 16;
    -fx-pref-height: 16;
}

.rt-slider:focused .thumb
{
    -fx-cursor: hand;
    -fx-background-color: -var-accent-color;
    -fx-background-radius: 16;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.rt-slider .axis 
{
    -fx-tick-label-fill: -rt-base-mid-text-color;
    -fx-tick-label-gap: 4;
    -fx-tick-length: 5px;
    -fx-minor-tick-length: 4px;
    -fx-border-color: null;
}

.rt-slider .axis .axis-tick-mark, .slider .axis .axis-minor-tick-mark 
{
    -fx-fill: null;
    -fx-stroke: -rt-base-mid-text-color;
}

/*-- ############################### RT SubStructure Style ############################### */
.rt-slider .colored-track
{
    -fx-background-color: -var-accent-color;
    -fx-background-radius: 4
}

.rt-slider .state-thumb 
{
    -fx-fill: -var-accent-color;
    -fx-opacity: 0.3;
}

.rt-slider .circle-thumb
{
    -fx-fill: -var-accent-color;
    -fx-radius: 8;
}