/*
TODO
- Increment Icon
- Decrement Icon
- Padding
- Text color
*/

/*-- ############################### Filled Spinner Styles ############################### */
.rt-spinner
{
    -fx-background-color: -rt-base-light-color;
	-fx-background-radius: 2.0;
    -fx-border-color: -rt-base-dark-color;
    -fx-border-radius: 0;
	-fx-border-width: 0 0 2 0;
    -fx-border-radius: 0;
    -fx-max-width: 1000000;
    -fx-text-fill: -rt-text-color;
}

.rt-spinner .text-field
{
    -fx-background-color: transparent;
	-fx-background-radius: 0;
	-fx-border-color: transparent;
	-fx-border-width: 0;
}

.rt-spinner:hover, 
.rt-spinner:focused
{
    -fx-border-color: -var-accent-color;
}

.rt-spinner .increment-arrow-button, 
.rt-spinner .decrement-arrow-button 
{
	-fx-background-color: transparent;
	-fx-fill: swatch-500;
}

.rt-spinner .increment-arrow-button .increment-arrow
{
    -fx-background-color: -var-accent-color;
    -fx-border-color: -var-accent-color;
    -fx-shape: "M 350 250 L 350 100 L 450 100 L 450 250 L 600 250 L 600 350 L 450 350 L 450 500 L 350 500 L 350 350 L 200 350 L 200 250 L 350 250";
}

.rt-spinner .decrement-arrow-button .decrement-arrow
{
    -fx-background-color: -var-accent-color;
    -fx-border-color: -var-accent-color;
    -fx-shape: "M 600 250 L 600 350 L 200 350 L 200 250 L 600 250";
}

.rt-spinner .increment-arrow-button, 
.rt-spinner .decrement-arrow-button 
{
    -fx-background-color: transparent;
}