/*
TODO
- Row selected and hover transitions
- Derive color to include dark ahd light theme
- Add tree table
- Derive border color
*/
/*-- ############################### Table View Style ############################### */
.rt-table-view, .tree-table-view 
{
    -fx-background-color: transparent;
    -fx-padding: 4 4 4 4;
}

.rt-table-view .table-cell 
{
    -fx-alignment: center-left;
    -fx-border-width: 0 0 0 0;
    -fx-cursor: hand;
    -fx-padding: 4 16 4 16;
    -fx-text-fill: -rt-main-dark-text-color;
}

.rt-table-view .table-row-cell
{
	-fx-cell-size: 48px;
	-fx-border-color: #e4e4e4;
	-fx-border-width: 0 0 1 0;
}

.rt-table-view.plain .table-row-cell
{
    -fx-background: -rt-main-light-color;
}

.rt-table-view.zebra .table-row-cell
{
    -fx-background: -rt-main-mid-color;
}

.rt-table-view .table-row-cell:odd 
{
	-fx-border-color: #e4e4e4;
	-fx-border-width: 0 0 1 0;
}

.rt-table-view.plain .table-row-cell:odd 
{
    -fx-background: -rt-main-light-color;
}

.rt-table-view.zebra .table-row-cell:odd 
{
    -fx-background: -rt-main-light-color;
}

/*-- ############################### Table View Header Style ############################### */
.rt-table-view .filler, 
.tree-table-view .filler, 
.rt-table-view .column-header,
.tree-table-view .column-header 
{
	-fx-background-color: transparent;
    /* -fx-border-style: solid solid solid solid; */
    -fx-border-style: solid segments(0, 12, 24, 30) solid solid;
	-fx-border-color: #e4e4e4;
	-fx-border-width: 0 2 1 0;
    -fx-cursor: hand;
    -fx-font-family: "Roboto Black";
    -fx-padding: 4 16 4 16;
	-fx-size: 48px;
}

.rt-table-view .show-hide-columns-button, 
.tree-table-view .show-hide-columns-button
{
	-fx-background-color: transparent;
}

.rt-table-view .column-header .label, 
.rt-table-view .filler .label,
.rt-table-view .column-drag-header .label, 
.tree-table-view .column-header .label,
.tree-table-view .filler .label, 
.tree-table-view .column-drag-header .label
{
	-fx-alignment: center-left;
    -fx-text-fill: -rt-main-dark-text-color;
}

.rt-table-view .column-header-background, 
.tree-table-view .column-header-background
{
	-fx-background-color: transparent;
}

.rt-table-view .column-header .arrow,
.rt-table-view .column-header .sort-order-dot 
{
    -fx-shape: "M7,10L12,15L17,10H7Z";
    -fx-padding: 4;
    -fx-translate-x: 24;
    -fx-background-color: -rt-main-dark-text-color;
}

/*-- ############################### Table View Column Style ############################### */
.rt-table-column.text
{
    -fx-alignment: center-left;
}

.rt-table-column.number .label
{
    -fx-alignment: center-right;
}

.rt-table-column.number
{
    -fx-alignment: center-right;
}

/*-- ############################### Table View Drag Style ############################### */
.rt-table-view .column-overlay 
{
    -fx-background-color: -rt-base-dark-color;
}

.rt-table-view .column-resize-line, .rt-table-view .column-drag-header 
{
    -fx-background-color: -var-accent-color;
}

/*-- ############################### Table View Cell State Style ############################### */
.table-view:focused .virtual-flow .clipped-container .sheet .table-row-cell:filled:selected,
.tree-table-view:focused .virtual-flow .clipped-container .sheet .tree-table-row-cell:filled:selected,
.table-view:focused .virtual-flow .clipped-container .sheet .table-row-cell .table-cell:selected,
.tree-table-view:focused .virtual-flow .clipped-container .sheet .tree-table-row-cell .tree-table-cell:selected 
{
    -fx-background: derive(-var-accent-color, 90%);
    -fx-background-color: derive(-var-accent-color, 90%);
    -fx-table-cell-border-color: derive(-var-accent-color, 90%);
}

.table-row-cell:filled:hover,
.tree-table-row-cell:filled:hover,
.table-row-cell:filled .table-cell:hover,
.tree-table-row-cell:filled .tree-table-cell:hover 
{
    -fx-background: derive(-rt-main-light-color, -10%);
    -fx-background-color: derive(-rt-main-light-color, -10%);
    -fx-table-cell-border-color:  derive(-rt-main-light-color, -10%);
}


.table-row-cell:filled:selected:hover,
.tree-table-row-cell:filled:selected:hover,
.table-row-cell:filled:selected .table-cell:hover,
.tree-table-row-cell:filled:selected .tree-table-cell:hover 
{
    -fx-background: derive(-var-accent-color, 90%);
    -fx-background-color: derive(-var-accent-color, 90%);
    -fx-table-cell-border-color:  derive(-var-accent-color, 90%);
}

.table-row-cell:filled:selected,
.tree-table-row-cell:filled:selected,
.table-row-cell:filled .table-cell:selected,
.tree-table-row-cell:filled .tree-table-cell:selected 
{
    -fx-background: derive(-rt-main-light-color, -20%);;
    -fx-background-color: derive(-rt-main-light-color, -20%);;
    -fx-table-cell-border-color:  derive(-rt-main-light-color, -20%);;
}

.table-view:focused:row-selection .virtual-flow .clipped-container .sheet .table-row-cell:focused,
.tree-table-view:focused:row-selection .virtual-flow .clipped-container .sheet .tree-table-row-cell:focused,
.table-view:focused:cell-selection .virtual-flow .clipped-container .sheet .table-row-cell .table-cell:focused,
.tree-table-view:focused:cell-selection .virtual-flow .clipped-container .sheet .tree-table-row-cell .tree-table-cell:focused 
{
    -fx-background: derive(-rt-main-light-color, -20%);;
    -fx-background-color: derive(-rt-main-light-color, -20%);;
    -fx-table-cell-border-color:  derive(-rt-main-light-color, -20%);;
}