/*
TODO
- Row selected and hover transitions
- Derive color to include dark ahd light theme
- Add tree table
- Derive border color
*/

/*-- ############################### Table View Accents ############################### */
.rt-table-view.primary-light
{
    -var-accent-color: -rt-primary-light-color;
    
    -rt-border-color: #e4e4e4;
    -rt-text-fill: -rt-main-dark-text-color;
    -rt-cell-background: -rt-main-light-color;
    -rt-cell-odd-background: -rt-main-mid-color;

    -rt-cell-selected-background: derive(-var-accent-color, 90%);
    -rt-cell-focused-background: derive(-rt-main-light-color, -20%);
    -rt-cell-hover-background: derive(-rt-main-light-color, -10%);

}

.rt-table-view.primary-mid
{
    -var-accent-color: -rt-primary-mid-color;
    
    -rt-border-color: #e4e4e4;
    -rt-text-fill: -rt-main-dark-text-color;
    -rt-cell-background: -rt-main-light-color;
    -rt-cell-odd-background: -rt-main-mid-color;

    -rt-cell-selected-background: derive(-var-accent-color, 90%);
    -rt-cell-focused-background: derive(-rt-main-light-color, -20%);
    -rt-cell-hover-background: derive(-rt-main-light-color, -10%);
}

.rt-table-view.primary-dark
{
    -var-accent-color: -rt-primary-dark-color;
    
    -rt-border-color: #e4e4e4;
    -rt-text-fill: -rt-main-dark-text-color;
    -rt-cell-background: -rt-main-light-color;
    -rt-cell-odd-background: -rt-main-mid-color;

    -rt-cell-selected-background: derive(-var-accent-color, 90%);
    -rt-cell-focused-background: derive(-rt-main-light-color, -20%);
    -rt-cell-hover-background: derive(-rt-main-light-color, -10%);
}

.rt-table-view.secondary-light
{
    -var-accent-color: -rt-secondary-light-color;
    
    -rt-border-color: #e4e4e4;
    -rt-text-fill: -rt-main-dark-text-color;
    -rt-cell-background: -rt-main-light-color;
    -rt-cell-odd-background: -rt-main-mid-color;

    -rt-cell-selected-background: derive(-var-accent-color, 90%);
    -rt-cell-focused-background: derive(-rt-main-light-color, -20%);
    -rt-cell-hover-background: derive(-rt-main-light-color, -10%);
}

.rt-table-view.secondary-mid
{
    -var-accent-color: -rt-secondary-mid-color;
    
    -rt-border-color: #e4e4e4;
    -rt-text-fill: -rt-main-dark-text-color;
    -rt-cell-background: -rt-main-light-color;
    -rt-cell-odd-background: -rt-main-mid-color;

    -rt-cell-selected-background: derive(-var-accent-color, 90%);
    -rt-cell-focused-background: derive(-rt-main-light-color, -20%);
    -rt-cell-hover-background: derive(-rt-main-light-color, -10%);
}

.rt-table-view.secondary-dark
{
    -var-accent-color: -rt-secondary-dark-color;
    
    -rt-border-color: #e4e4e4;
    -rt-text-fill: -rt-main-dark-text-color;
    -rt-cell-background: -rt-main-light-color;
    -rt-cell-odd-background: -rt-main-mid-color;

    -rt-cell-selected-background: derive(-var-accent-color, 90%);
    -rt-cell-focused-background: derive(-rt-main-light-color, -20%);
    -rt-cell-hover-background: derive(-rt-main-light-color, -10%);
}

.rt-table-view.base-light
{
    -var-accent-color: -rt-base-light-color;
    
    -rt-border-color: #e4e4e4;
    -rt-text-fill: -rt-main-dark-text-color;
    -rt-cell-background: -rt-main-light-color;
    -rt-cell-odd-background: -rt-main-mid-color;

    -rt-cell-selected-background: derive(-var-accent-color, 90%);
    -rt-cell-focused-background: derive(-rt-main-light-color, -20%);
    -rt-cell-hover-background: derive(-rt-main-light-color, -10%);
}

.rt-table-view.base-mid
{
    -var-accent-color: -rt-base-mid-color;
    
    -rt-border-color: #e4e4e4;
    -rt-text-fill: -rt-main-dark-text-color;
    -rt-cell-background: -rt-main-light-color;
    -rt-cell-odd-background: -rt-main-mid-color;

    -rt-cell-selected-background: derive(-var-accent-color, 90%);
    -rt-cell-focused-background: derive(-rt-main-light-color, -20%);
    -rt-cell-hover-background: derive(-rt-main-light-color, -10%);
}

.rt-table-view.base-dark
{
    -var-accent-color: -rt-base-dark-color;
    
    -rt-border-color: #e4e4e4;
    -rt-text-fill: -rt-main-dark-text-color;
    -rt-cell-background: -rt-main-light-color;
    -rt-cell-odd-background: -rt-main-mid-color;

    -rt-cell-selected-background: derive(-var-accent-color, 90%);
    -rt-cell-focused-background: derive(-rt-main-light-color, -20%);
    -rt-cell-hover-background: derive(-rt-main-light-color, -10%);
}

/*-- ############################### Table View Style ############################### */
.rt-table-view, .tree-table-view 
{
    -fx-background-color: transparent;
    -fx-padding: 4 4 4 4;
}

.rt-table-view .table-cell 
{
    -fx-alignment: center-left;
    -fx-border-width: 0 0 0 0;
    -fx-cursor: hand;
    -fx-padding: 4 16 4 16;
    -fx-text-fill: -rt-text-fill;
}

.rt-table-view .table-row-cell
{
	-fx-cell-size: 48px;
	-fx-border-color: -rt-border-color;
	-fx-border-width: 0 0 1 0;
}

.rt-table-view.plain .table-row-cell
{
    -fx-background: -rt-cell-background;
}

.rt-table-view.zebra .table-row-cell
{
    -fx-background: -rt-cell-odd-background;
}

.rt-table-view .table-row-cell:odd 
{
	-fx-border-color: -rt-border-color;
	-fx-border-width: 0 0 1 0;
}

.rt-table-view.plain .table-row-cell:odd 
{
    -fx-background: -rt-main-light-color;
}

.rt-table-view.zebra .table-row-cell:odd 
{
    -fx-background: -rt-main-light-color;
}

/*-- ############################### Table View Header Style ############################### */
.rt-table-view .filler, 
.tree-table-view .filler, 
.rt-table-view .column-header,
.tree-table-view .column-header 
{
	-fx-background-color: transparent;
    /* -fx-border-style: solid solid solid solid; */
    -fx-border-style: solid segments(0, 12, 24, 30) solid solid;
	-fx-border-color: -rt-border-color;
	-fx-border-width: 0 2 1 0;
    -fx-cursor: hand;
    -fx-font-family: "Roboto Black";
    -fx-padding: 4 16 4 16;
	-fx-size: 48px;
}

.rt-table-view .show-hide-columns-button, 
.tree-table-view .show-hide-columns-button
{
	-fx-background-color: transparent;
}

.rt-table-view .column-header .label, 
.rt-table-view .filler .label,
.rt-table-view .column-drag-header .label, 
.tree-table-view .column-header .label,
.tree-table-view .filler .label, 
.tree-table-view .column-drag-header .label
{
	-fx-alignment: center-left;
    -fx-text-fill: -rt-text-fill;
}

.rt-table-view .column-header-background, 
.tree-table-view .column-header-background
{
	-fx-background-color: transparent;
}

.rt-table-view .column-header .arrow,
.rt-table-view .column-header .sort-order-dot 
{
    -fx-shape: "M7,10L12,15L17,10H7Z";
    -fx-padding: 4;
    -fx-translate-x: 24;
    -fx-background-color: -rt-text-fill;
}

/*-- ############################### Table View Column Style ############################### */
.rt-table-column.text
{
    -fx-alignment: center-left;
}

.rt-table-column.number .label
{
    -fx-alignment: center-right;
}

.rt-table-column.number
{
    -fx-alignment: center-right;
}

/*-- ############################### Table View Drag Style ############################### */
.rt-table-view .column-overlay 
{
    -fx-background-color: -rt-base-dark-color;
}

.rt-table-view .column-resize-line, .rt-table-view .column-drag-header 
{
    -fx-background-color: -var-accent-color;
}

/*-- ############################### Table View Cell State Style ############################### */
.table-view:focused .virtual-flow .clipped-container .sheet .table-row-cell:filled:selected,
.tree-table-view:focused .virtual-flow .clipped-container .sheet .tree-table-row-cell:filled:selected,
.table-view:focused .virtual-flow .clipped-container .sheet .table-row-cell .table-cell:selected,
.tree-table-view:focused .virtual-flow .clipped-container .sheet .tree-table-row-cell .tree-table-cell:selected 
{
    -fx-background: -rt-cell-selected-background;
    -fx-background-color: -rt-cell-selected-background;
    -fx-table-cell-border-color:  -rt-cell-selected-background;
}

.table-row-cell:filled:hover,
.tree-table-row-cell:filled:hover,
.table-row-cell:filled .table-cell:hover,
.tree-table-row-cell:filled .tree-table-cell:hover 
{
    -fx-background: -rt-cell-hover-background;
    -fx-background-color: -rt-cell-hover-background;
    -fx-table-cell-border-color:  -rt-cell-hover-background;
}


.table-row-cell:filled:selected:hover,
.tree-table-row-cell:filled:selected:hover,
.table-row-cell:filled:selected .table-cell:hover,
.tree-table-row-cell:filled:selected .tree-table-cell:hover 
{
    -fx-background: -rt-cell-selected-background;
    -fx-background-color: -rt-cell-selected-background;
    -fx-table-cell-border-color:  -rt-cell-selected-background;
}

.table-row-cell:filled:selected,
.tree-table-row-cell:filled:selected,
.table-row-cell:filled .table-cell:selected,
.tree-table-row-cell:filled .tree-table-cell:selected 
{
    -fx-background: -rt-cell-focused-background;
    -fx-background-color: -rt-cell-focused-background;
    -fx-table-cell-border-color:  -rt-cell-focused-background;
}

.table-view:focused:row-selection .virtual-flow .clipped-container .sheet .table-row-cell:focused,
.tree-table-view:focused:row-selection .virtual-flow .clipped-container .sheet .tree-table-row-cell:focused,
.table-view:focused:cell-selection .virtual-flow .clipped-container .sheet .table-row-cell .table-cell:focused,
.tree-table-view:focused:cell-selection .virtual-flow .clipped-container .sheet .tree-table-row-cell .tree-table-cell:focused 
{
    -fx-background: -rt-cell-focused-background;
    -fx-background-color: -rt-cell-focused-background;
    -fx-table-cell-border-color:  -rt-cell-focused-background;
}


/*-- ############################### Scroll Pane Styles ############################### */
/* Figure out why this only gets set when the their is at least one explict scroll pane as a parent*/
.rt-scroll-pane
{
    -fx-background-color: transparent;
}

.rt-scroll-pane:focused
{
    -fx-background-color: transparent;
}

.rt-scroll-pane .viewport
{
    -fx-background-color: transparent;
}

.rt-scroll-pane .scroll-bar 
{
    -rt-size: 12;
    -fx-min-height: -rt-size;
    -fx-min-width: -rt-size;
    -fx-max-height: -rt-size;
}

.rt-scroll-pane .scroll-bar .increment-button,
.rt-scroll-pane .scroll-bar .decrement-button 
{
    -rt-size: 12;
    -fx-min-height: -rt-size;
    -fx-min-width: -rt-size;
    -fx-max-width: -rt-size;
    -fx-max-height: -rt-size;
}

/*-- ############################### Scroll Pane Scroll Bar Styles ############################### */
.rt-scroll-pane .scroll-bar:vertical,
.rt-scroll-pane .scroll-bar:horizontal
{
    -fx-background-color: transparent;
    -fx-opacity: 30%;
}

.rt-scroll-pane .scroll-bar:vertical:hover,
.rt-scroll-pane .scroll-bar:horizontal:hover
{
    -fx-opacity: 50%;
}

.rt-scroll-pane .scroll-bar:vertical:pressed,
.rt-scroll-pane .scroll-bar:horizontal:pressed
{
    -fx-opacity: 100%;
}

.rt-scroll-pane .scroll-bar:vertical .track,
.rt-scroll-pane .scroll-bar:horizontal .track
{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.rt-scroll-pane .scroll-bar:vertical .thumb,
.rt-scroll-pane .scroll-bar:horizontal .thumb
{
    -fx-background-color: -var-accent-color;
    -fx-background-radius: 6;
    -fx-border-width: 0 0 0 0;
}

.rt-scroll-pane .scroll-bar:vertical .thumb:hover,
.rt-scroll-pane .scroll-bar:horizontal .thumb:hover
{
    -fx-cursor: open_hand;
}

.rt-scroll-pane .scroll-bar:vertical .thumb:pressed,
.rt-scroll-pane .scroll-bar:horizontal .thumb:pressed
{
    -fx-cursor: closed_hand;
}

.rt-scroll-pane .scroll-bar:vertical .increment-button,
.rt-scroll-pane .scroll-bar:vertical .decrement-button,
.rt-scroll-pane .scroll-bar:horizontal .increment-button,
.rt-scroll-pane .scroll-bar:horizontal .decrement-button
{
    -fx-cursor: hand;
    -fx-padding: 2 2 2 2;
    -fx-border-width: 0;
}

/*-- ############################### Scroll Pane Vertical Scroll Bar Style ############################### */
.rt-scroll-pane .scroll-bar:vertical 
{
    -rt-size: 12;
    -fx-min-height: -rt-size;
    -fx-min-width: -rt-size;
    -fx-pref-width: -rt-size;
    -fx-max-width: -rt-size;
}

.rt-scroll-pane .scroll-bar:vertical .track
{
    -rt-size: 12;
    -fx-min-height: -rt-size;
    -fx-min-width: -rt-size;
    -fx-pref-width: -rt-size;
    -fx-max-width: -rt-size;
}

.rt-scroll-pane .scroll-bar:vertical .thumb
{
    -rt-size: 12;
    -fx-min-height: -rt-size;
    -fx-min-width: -rt-size;
    -fx-pref-width: -rt-size;
    -fx-max-width: -rt-size;
}

.rt-scroll-pane .scroll-bar:vertical .increment-button .increment-arrow
{
    -fx-background-color: -var-accent-color;
    -fx-shape: "M7,10L12,15L17,10H7Z";
}

.rt-scroll-pane .scroll-bar:vertical .decrement-button .decrement-arrow
{
    -fx-background-color: -var-accent-color;
    -fx-shape: "M7,15L12,10L17,15H7Z";
}

/*-- ############################### Scroll Pane Horizontal Scroll Bar Style ############################### */
.rt-scroll-pane .scroll-bar:horizontal 
{
    -rt-size: 12;
    -fx-min-width: -rt-size;
    -fx-min-height: -rt-size;
    -fx-pref-height: -rt-size;
    -fx-max-height: -rt-size;
}

.rt-scroll-pane .scroll-bar:horizontal .track
{
    -rt-size: 12;
    -fx-min-width: -rt-size;
    -fx-min-height: -rt-size;
    -fx-pref-height: -rt-size;
    -fx-max-height: -rt-size;
}

.rt-scroll-pane .scroll-bar:horizontal .thumb
{
    -rt-size: 12;
    -fx-min-width: -rt-size;
    -fx-min-height: -rt-size;
    -fx-pref-height: -rt-size;
    -fx-max-height: -rt-size;
}

.rt-scroll-pane .scroll-bar:horizontal .increment-button .increment-arrow
{
    -fx-background-color: -var-accent-color;
    -fx-shape: "M10,17L15,12L10,7V17Z";
}

.rt-scroll-pane .scroll-bar:horizontal .decrement-button .decrement-arrow
{
    -fx-background-color: -var-accent-color;
    -fx-shape: "M14,7L9,12L14,17V7Z";
}

/*-- ############################### List View Scroll Bar Corner Style ############################### */
.scroll-pane .corner,
.rt-table-view .virtual-flow .corner
{
    -fx-background-color: transparent;
}