/*-- ############################### Text Field Style ############################### */

.rt-text-field,
.rt-text-field:focused
{
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-cursor: default;
    -fx-font-family: "Roboto Regular";
    -fx-font-size: 14;
    -fx-max-width: 1000000;
    -fx-min-height: 48;
    -fx-padding: 0;
    -fx-prompt-text-fill: -var-on-main-light-color;
    -fx-text-fill: -var-on-main-mid-color;

    -rt-focus-color: -var-accent-color;
    -rt-overlay-color: -var-base-overlay-color;
    -rt-unfocus-color: -var-main-color-l4;
    -rt-trailing-icon-gap: 10;
    -rt-trailing-icon-color: -var-on-main-light-color;
    -rt-helper-text-height: 24;
}

.rt-text-field .input-container
{
    -fx-cursor: hand;
    -fx-background-color: -var-main-color-l2;
	-fx-background-radius: 4 4 0 0;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-padding: 16;
    -fx-min-height: 48;
}

.rt-text-field .prompt-container
{
    -fx-cursor: hand;
	-fx-background-radius: 4 4 0 0;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-padding: 16;
}

.rt-text-field:focused .input-container,
.rt-text-field:focused .prompt-container
{
    -fx-cursor: text;
}

.rt-text-field .input-focused-line
{
    -fx-background-color: -var-accent-color;
	-fx-background-radius: 0;
    -fx-border-radius: 0;

    -var-height: 2;
    -fx-pref-height: -var-height;
    -fx-max-height: -var-height;
}

.rt-text-field .input-unfocused-line
{
    -fx-background-color: -var-main-color-l4;
	-fx-background-radius: 0;
    -fx-border-radius: 0;
    
    -var-height: 1;
    -fx-pref-height: -var-height;
    -fx-max-height: -var-height;
}

.rt-text-field .rt-svg-icon,
.rt-text-field .rt-button.icon,
.rt-text-field .rt-icon-toggle-button
{
    -fx-padding: 4;
}

/*-- ############################### Pseudo State Padding ############################### */
.rt-text-field:helper
{
    -fx-min-height: 72;
}

.rt-text-field:helper .helper-container
{
    -fx-border-width: 2;
    -fx-min-height: 16;
    -fx-padding: 2 16 2 16;
}

.rt-text-field:helper .helper-container .helper-text
{
    -fx-fill: -var-on-main-light-color;
    -fx-font-family: "Roboto Regular";
    -fx-font-size: 12;
    -fx-text-alignment: left;
}

.rt-text-field:floating .input-container
{
    -fx-padding: 22 16 6 16;
}

.rt-text-field:helper .error-container
{
    -fx-border-width: 2;
    -fx-min-height: 16;
    -fx-padding: 2 16 2 16;
}

.rt-text-field:helper .error-container .error-text
{
    -fx-fill: -var-error-color;
    -fx-font-family: "Roboto Regular";
    -fx-font-size: 12;
    -fx-text-alignment: left;
}

.rt-text-field:error
{
    -rt-focus-color: -var-error-color;
    -rt-unfocus-color: -var-error-color;
    -fx-prompt-text-fill: -var-error-color;
}

.rt-text-field:error .input-container
{
    -fx-background-color: -var-light-error-color;
}
