/*
TODO
- Change usage of main to base colors
- Padding
- Add bottom border
- Text color
- Text font
*/
/*-- ############################### Text Area Style ############################### */
.rt-text-area
{
    -fx-background-color: -var-base-light-color;
	-fx-background-radius: 2.0;
    -fx-border-color: -var-base-dark-color;
    -fx-border-radius: 2.0;
    -fx-border-width: 0 0 2 0;
    -fx-max-width: 1000000;
	-fx-padding: 8 8 8 8;
    -fx-text-fill: -var-base-mid-text-color;
}

.rt-text-area:focused,
.rt-text-area:focused:hover
{
    -fx-background-color: -var-base-light-color;
    -fx-border-color: -var-accent-color;
}

.rt-text-area .content,
.rt-text-area .scroll-pane
{
    -fx-border-width: 0.0;
	-fx-background-color: -var-base-light-color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 8 16 8 16;
}

.rt-text-area .scroll-pane
{
    -fx-padding: 0 0 0 0;
}

.rt-text-area .content
{
    -fx-padding: 2 2 2 2;
}

.rt-text-area:focused .content,
.rt-text-area:focused .scroll-pane
{
    -fx-background-color: -var-base-light-color;
    -fx-border-color: -var-accent-color;
	-fx-effect: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}