/*
TODO
- Change usage of main to base colors
- Padding
- Add bottom border
- Text color
*/

/*-- ############################### Text Field Style ############################### */

.rt-text-field,
.rt-text-field:focused
{
    -fx-background-color: -var-base-light-color;
	-fx-background-radius: 4 4 0 0;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: -var-base-dark-color;
    -fx-border-radius: 2 2 0 0;
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 14;
    -fx-max-width: 1000000;
    -fx-min-height: 56;
    -fx-padding: 18 16 0 16;
    -fx-prompt-text-fill: -var-base-dark-color;
    -fx-text-fill: -var-base-mid-text-color;

    -rt-focus-color: -var-accent-color;
    -rt-unfocus-color: -var-base-dark-color;
}

.rt-text-field .input-focused-line
{
    -fx-background-color: transparent;
	-fx-background-radius: 4 4 0 0;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: -var-accent-color;
    -fx-border-radius: 2 2 0 0;
}