/*
TODO
- Toggle switch hover state
*/

/*-- ############################### Toggle Switch Style ############################### */
.rt-toggle-switch,
.rt-toggle-switch:armed,
.rt-toggle-switch:hover,
.rt-toggle-switch:focused,
.rt-toggle-switch:selected,
.rt-toggle-switch:focused:selected 
{
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-background-radius: 3;
    -fx-background-insets: 0;
    -fx-graphic-text-gap: 8;
    -fx-padding: 0;
    -fx-text-fill: -rt-base-mid-text-color;

    -rt-selected-color: -var-accent-color;
    -rt-unselected-color: -rt-base-mid-color;
    -rt-selected-line-color: derive(-var-accent-color, 50%);
    -rt-unselected-line-color: -rt-base-light-color;
}