/*
TODO
- Icon button glowing accent API
*/
/*-- ############################### Toggle Button Style ############################### */
.rt-toggle-button
{
    -fx-cursor: hand;
}

/*-- ############################### Raised Toggle Button Style ############################### */
.rt-toggle-button.raised
{
    -fx-background-color: -var-accent-color;
    -fx-background-insets: 0;
    -fx-background-radius: 4;
    -fx-border-color: -var-accent-color;
    -fx-border-radius: 4;
    -fx-border-width: 0;
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 14;
    -fx-min-height: 36;
    -fx-min-width: 64;
    -fx-padding: 4 16 4 16;
    -fx-pref-width: 200.0;
    -fx-text-fill: -var-accent-text-color;
}

.rt-toggle-button.raised:focused
{
    -fx-background-insets: 0;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-border-width: 0;
}

.rt-toggle-button.raised .state-box
{
    -fx-background-color: -var-overlay-color;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-border-width: 0;
}

/*-- ############################### Normal Icon Toggle Button Style ############################### */
.rt-icon-toggle-button.normal
{
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-text-fill: -var-base-dark-text-color;

    -fx-padding: 4;
}

.rt-icon-toggle-button.normal .state-box
{
    -fx-background-color: -var-overlay-color;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-border-width: 0;
}

.rt-icon-toggle-button.normal:selected,
.rt-icon-toggle-button.normal:focused,
.rt-icon-toggle-button.normal:selected:focused
{
    -fx-border-width: 0;
    -fx-background-color: transparent;
}

/*-- ############################### Accented Icon Toggle Button Style ############################### */
.rt-icon-toggle-button.accented
{
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-text-fill: -var-base-dark-text-color;

    -rt-selected-icon-color: -var-accent-color;
    -rt-unselected-icon-color: -var-base-dark-text-color;

    -fx-padding: 4;
}

.rt-icon-toggle-button.accented .state-box
{
    -fx-background-color: -var-overlay-color;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-border-width: 0;
}

.rt-icon-toggle-button.accented:selected,
.rt-icon-toggle-button.accented:focused,
.rt-icon-toggle-button.accented:selected:focused
{
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-text-fill: -var-accent-color;
}

/*-- ############################### Glowing Icon Toggle Button Style ############################### */
.rt-icon-toggle-button.glowing
{
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-text-fill: -var-base-dark-text-color;

    -rt-selected-icon-color: -var-accent-color;
    -rt-unselected-icon-color: -var-base-dark-text-color;
    -fx-background-insets: 0;

    -fx-padding: 4;
}

.rt-icon-toggle-button.glowing .state-box
{
    -fx-background-color: -var-overlay-color;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-border-width: 0;
}

.rt-icon-toggle-button.glowing:selected,
.rt-icon-toggle-button.glowing:focused,
.rt-icon-toggle-button.glowing:selected:focused
{
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-text-fill: -var-accent-color;
    -rt-fill-color: -var-accent-color;
}