/*-- ############################### Toggle Switch Style ############################### */
.rt-toggle-switch,
.rt-toggle-switch:armed,
.rt-toggle-switch:hover,
.rt-toggle-switch:focused,
.rt-toggle-switch:selected,
.rt-toggle-switch:focused:selected 
{
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-background-radius: 3;
    -fx-background-insets: 0;
    -fx-graphic-text-gap: 8;
    -fx-padding: 0;
    -fx-text-fill: -var-on-main-mid-color;

    -rt-line-width: 14;
    -rt-line-length: 16;
    -rt-overlay-color: -var-overlay-color;
    -rt-selected-line-color: ladder(#888888, -var-main-color-l1 0%, -var-accent-color 100%);
    -rt-selected-thumb-color: -var-accent-color;
    -rt-thumb-radius: 10;
    -rt-unselected-line-color: -var-main-color-l3;
    -rt-unselected-thumb-color: -var-main-color-l4;
}