/* TODO when unfocused, use a 50% derived color */

/*-- ############################### Tree View Style ############################### */
.rt-tree-view
{
    -fx-padding: 4 16 4 16;
    -fx-background-color: transparent;
}

.rt-tree-view:focused
{
    -fx-border-width: 0 0 0 0;
    -fx-background-color: transparent;
}

.rt-tree-view .virtual-flow .clipped-container .sheet .tree-cell
{
    -fx-cursor: hand;
    -fx-padding: 8 0 8 0;
    -fx-font-size: 14px;
    -fx-background-color: transparent;
    -fx-text-fill: -var-base-mid-text-color;
}

.rt-tree-view:focused .virtual-flow .clipped-container > .sheet .tree-cell:filled:selected
{
    -fx-background: derive(-var-primary-light-color, 90%);
    -fx-background-color: derive(-var-primary-light-color, 90%);
    -fx-text-fill: -var-base-mid-text-color;
}

.tree-cell:filled:hover
{
    -fx-background: derive(-var-primary-light-color, 50%);
}

.tree-cell:filled:selected
{
    -fx-background: derive(-var-primary-light-color, 90%);
    -fx-background-color: derive(-var-primary-light-color, 90%);
    -fx-text-fill: -var-base-mid-text-color;
}