/*-- ############################### Tree View Style ############################### */
.rt-tree-view
{
    -fx-padding: 4 16 4 16;
    -fx-background-color: transparent;
}

.rt-tree-view:focused
{
    -fx-border-width: 0 0 0 0;
    -fx-background-color: transparent;
}

.rt-tree-view .virtual-flow .clipped-container .sheet .tree-cell
{
    -fx-cursor: hand;
    -fx-padding: 8 0 8 0;
    -fx-font-size: 14px;
    -fx-background-color: transparent;
    -fx-text-fill: -var-on-main-mid-color;
}

.rt-tree-view .virtual-flow .clipped-container .sheet .tree-cell:hover,
.rt-tree-view .virtual-flow .clipped-container .sheet .tree-cell:filled:hover,
.rt-tree-view .virtual-flow .clipped-container .sheet .tree-cell:selected:hover,
.rt-tree-view .virtual-flow .clipped-container .sheet .tree-cell:filled:selected:hover
{
    -fx-background-color: ladder(#444444, transparent 0%, -var-accent-color 100%);
}

.rt-tree-view .virtual-flow .clipped-container .sheet .tree-cell:filled:selected,
.rt-tree-view:focused .virtual-flow .clipped-container .sheet .tree-cell:filled:selected
{
    -fx-background-color: ladder(#bbbbbb, transparent 0%, -var-accent-color 100%);
    -fx-text-fill: -var-on-accent-color;
}

.rt-tree-view .virtual-flow .clipped-container .sheet .tree-cell:filled:selected:hover,
.rt-tree-view:focused .virtual-flow .clipped-container .sheet .tree-cell:filled:selected:hover
{
    -fx-background-color: -var-accent-color;
    -fx-text-fill: -var-on-accent-color;
}