
.rt-label.block-title.primary-mid
{
    -fx-background-color: -var-main-dark-color;
    -fx-text-fill: -var-base-mid-text-color;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.26), 5, 0.18, 0, 2);
}

.jfx-decorator 
{
    -fx-decorator-color: -var-main-dark-color;
}

.jfx-tool-bar 
{
    -fx-background-color: -var-main-light-color;
}

.jfx-popup-container 
{
    -fx-background-color: -var-main-light-color;
}

.jfx-drawer-side-pane
{
    -fx-background-color: -var-main-light-color;
}


.rt-combo-box.filled,
.combo-box-base,
.combo-box-base:editable .text-field
{
    -fx-text-fill: -var-main-mid-text-color;
}