/*-- ############################### Border Pane Accents ############################### */
.rt-border-pane.primary-light
{
    -fx-background-color: -var-primary-light-color;
}

.rt-border-pane.primary-mid
{
    -fx-background-color: -var-primary-mid-color;
}

.rt-border-pane.primary-dark
{
    -fx-background-color: -var-primary-dark-color;
}

.rt-border-pane.secondary-light
{
    -fx-background-color: -var-secondary-light-color;
}

.rt-border-pane.secondary-mid
{
    -fx-background-color: -var-secondary-mid-color;
}

.rt-border-pane.secondary-dark
{
    -fx-background-color: -var-secondary-dark-color;
}

.rt-border-pane.base-light
{
    -fx-background-color: -var-main-color-l2;
}

.rt-border-pane.base-mid
{
    -fx-background-color: -var-main-color-l3;
}

.rt-border-pane.base-dark
{
    -fx-background-color: -var-main-color-l4;
}

/*-- ############################### Border Pane Style ############################### */
.rt-border-pane
{
}