/*-- ############################### Dialog Pane Styles ############################### */
.rt-dialog-pane
{
    -fx-background-color: -var-accent-color;
}

.rt-dialog-pane .button-bar .container 
{
    -fx-padding: 0;
}

.rt-dialog-pane .content.label 
{
    -fx-alignment: top-left;
    -fx-padding: 0;
}

.rt-dialog-pane .content 
{
    -fx-padding: 0;
}

/*-- ############################### Dialog Pane Accents ############################### */
.rt-dialog-pane.base
{
    -var-accent-color: transparent;
}