/*-- ############################### Grid Pane Styles ############################### */
.rt-grid-pane
{
    -fx-background-color: -var-accent-color;
    -fx-hgap: 16;
    -fx-padding: 8 8 8 8;
    -fx-vgap: 16;
}

/*-- ############################### Grid Pane Accents ############################### */
.rt-grid-pane.base
{
    -var-accent-color: transparent;
}