/*-- ############################### HBox Style ############################### */
.rt-hbox
{ 
    -fx-background-color: -var-accent-color;
    -fx-spacing: 10;
}

/*-- ############################### HBox Accents ############################### */
.rt-hbox.base
{
    -var-accent-color: transparent;
}