/*-- ############################### HBox Style ############################### */
.rt-hbox
{ 
    -fx-background-color: -var-accent-color;
    -fx-padding: 8 0 8 0;
    -fx-spacing: 4;
}

/*-- ############################### HBox Accents ############################### */
.rt-hbox.base
{
    -var-accent-color: transparent;
}