/*-- ############################### Stack Pane Accents ############################### */
.rt-stack-pane
{
    -fx-background-color: -var-accent-color;
    -fx-hgap: 10;
    -fx-vgap: 10;
}

/*-- ############################### Stack Pane Accents ############################### */
.rt-stack-pane.base
{
    -var-accent-color: transparent;
}