/*-- ############################### Text Flow Styles ############################### */
.rt-text-flow
{
    -fx-background-color: -var-accent-color;
    -fx-padding: 4 0 8 0;
}

/*-- ############################### Text Flow Accents ############################### */
.rt-text-flow.base
{
    -var-accent-color: transparent;
}