.rt-text-flow
{
    -fx-padding: 8 0 16 0;
}

/*-- ############################### Text Flow Accents ############################### */
.rt-text-flow.primary-light
{
    -fx-background-color: -var-primary-light-color;
}

.rt-text-flow.primary-mid
{
    -fx-background-color: -var-primary-mid-color;
}

.rt-text-flow.primary-dark
{
    -fx-background-color: -var-primary-dark-color;
}

.rt-text-flow.secondary-light
{
    -fx-background-color: -var-secondary-light-color;
}

.rt-text-flow.secondary-mid
{
    -fx-background-color: -var-secondary-mid-color;
}

.rt-text-flow.secondary-dark
{
    -fx-background-color: -var-secondary-dark-color;
}

.rt-text-flow.base-light
{
    -fx-background-color: -var-base-light-color;
}

.rt-text-flow.base-mid
{
    -fx-background-color: -var-base-mid-color;
}

.rt-text-flow.base-dark
{
    -fx-background-color: -var-base-dark-color;
}