/*-- ############################### Tile Pane Style ############################### */
.rt-tile-pane
{
    -fx-background-color: -var-accent-color;
    -fx-hgap: 8;
    -fx-padding: 8;
    -fx-vgap: 8;
}

/*-- ############################### Tile Pane Accents ############################### */
.rt-tile-pane.base
{
    -fx-background-color: transparent;
}