/*-- ############################### VBox Style ############################### */
.rt-vbox
{ 
    -fx-background-color: -var-accent-color;
    -fx-padding: 0 10 0 10;
    -fx-spacing: 5;
}

/*-- ############################### VBox Accents ############################### */
.rt-vbox.base
{
    -var-accent-color: transparent;
}