/*-- ############################### VBox Style ############################### */
.rt-vbox
{ 
    -fx-background-color: -var-accent-color;
    -fx-padding: 0 8 0 8;
    -fx-spacing: 4;
}

/*-- ############################### VBox Accents ############################### */
.rt-vbox.base
{
    -var-accent-color: transparent;
}