.root 
{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color : #121212;

    /*-- ############################### Font ############################### */
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 14;

    /* Main colors are used on backgrounds and overlays */
    /*-- ############################### Main Color ############################### */
    -rt-main-light-color: #1d1d1d;
    -rt-main-mid-color: #1a1a1a;
    -rt-main-dark-color: #212121;

    -rt-main-light-text-color: #ffffff;
    -rt-main-mid-text-color: #ffffff;
    -rt-main-dark-text-color: #ffffff;

    /* Base colors are used on components */
    /*-- ############################### Base Color ############################### */
    -rt-base-light-color: #2c2c2c;
    -rt-base-mid-color: #323232;
    -rt-base-dark-color: #373737;

    -rt-base-light-text-color: #ffffff;
    -rt-base-mid-text-color: #ffffff;
    -rt-base-dark-text-color: #ffffff;

    -rt-base-overlay-color: rgba(255, 255, 255, 0.25);

    /* Primary colors are used to accent components */
    /*-- ############################### Primary Color ############################### */
    -rt-primary-light-color: #80e8dd;
    -rt-primary-mid-color: #4bb5ab;
    -rt-primary-dark-color: #00857c;
    
    -rt-primary-light-text-color: #000000;
    -rt-primary-mid-text-color: #000000;
    -rt-primary-dark-text-color: #ffffff;
    
    -rt-primary-overlay-color: rgba(255, 255, 255, 0.25);

    /* Secondary colors are used to accent components */
    /*-- ############################### Secondary Color ############################### */
    -rt-secondary-light-color: #ff867c;
    -rt-secondary-mid-color: #ef5350;
    -rt-secondary-dark-color: #b61827;
    
    -rt-secondary-light-text-color: #000000;
    -rt-secondary-mid-text-color: #000000;
    -rt-secondary-dark-text-color: #ffffff;
    
    -rt-secondary-overlay-color: rgba(255, 255, 255, 0.45);
}