/* TODO find a better naming scheme instead of "light, mid, dark */
.root 
{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color : #41a174;

    /*-- ############################### Font ############################### */
    -fx-font-family: "Roboto";
    -fx-font-size: 14;

    /* Main colors are used on backgrounds and overlays */
    /*-- ############################### Main Color ############################### */
    -rt-main-light-color: #1f2023;
    -rt-main-mid-color: #2c2e31;
    -rt-main-dark-color: #303235;

    -rt-main-light-text-color: #ffffff;
    -rt-main-mid-text-color: #ffffff;
    -rt-main-dark-text-color: #ffffff;

    /* Base colors are used on components */
    /*-- ############################### Base Color ############################### */
    -rt-base-light-color: #4c5053;
    -rt-base-mid-color: #6a6d70;
    -rt-base-dark-color: #999ea4;

    -rt-base-light-text-color: #ffffff;
    -rt-base-mid-text-color: #ffffff;
    -rt-base-dark-text-color: #ffffff;

    -rt-base-overlay-color: rgba(255, 255, 255, 0.25);

    /* Primary colors are used to accent components */
    /*-- ############################### Primary Color ############################### */
    -rt-primary-light-color: #49a7d2;
    -rt-primary-mid-color: #2d9fd6;
    -rt-primary-dark-color: #035d90;
    
    -rt-primary-light-text-color: #000000;
    -rt-primary-mid-text-color: #000000;
    -rt-primary-dark-text-color: #ffffff;
    
    -rt-primary-overlay-color: rgba(255, 255, 255, 0.25);

    /* Secondary colors are used to accent components */
    /*-- ############################### Secondary Color ############################### */
    -rt-secondary-light-color: #5ae0a2;
    -rt-secondary-mid-color: #4ab884;
    -rt-secondary-dark-color: #398f67;
    
    -rt-secondary-light-text-color: #000000;
    -rt-secondary-mid-text-color: #000000;
    -rt-secondary-dark-text-color: #000000;
    
    -rt-secondary-overlay-color: rgba(255, 255, 255, 0.25);
}

.rt-label.block-title.primary-mid
{
    -fx-background-color: -rt-main-mid-color;
    -fx-text-fill: -rt-base-mid-text-color;
}

.jfx-decorator 
{
    -fx-decorator-color: -rt-main-light-color;
}

.jfx-tool-bar 
{
    -fx-background-color: -rt-main-mid-color;
}

.jfx-popup-container 
{
    -fx-background-color: -rt-main-light-color;
}

.jfx-drawer-side-pane
{
    -fx-background-color: -rt-main-light-color;
}