.root
{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color : #eaedf2;
    
    /*-- ############################### Font ############################### */
    -fx-font-family: "Roboto";
    -fx-font-size: 14;

    /*-- ############################### Main Color ############################### */
    -var-main-light-color: #ffffff;
    -var-main-mid-color: #f6f6f6;
    -var-main-dark-color: #989898;
    -var-main-text-color: #202020;

    /*-- ############################### Base Color ############################### */
    -var-base-color-1: #f6f6f6;
    -var-base-color-2: #dcdcdc;
    -var-base-color-3: #ababab;
    -var-base-text-color: #000000;

    -var-accent-color-1: #8695ac;
    -var-accent-color-2: #414f63;
    -var-accent-color-3: #5d6f8a;
    -var-accent-color-4: #8695ac;
    -var-accent-text-color: #ffffff;
}

/*-- ############################### Anchor Pane ############################### */
.anchor-pane
{
}
/*-- ############################### Border Pane ############################### */
.border-pane
{
}

/*-- ############################### Card Pane ############################### */
.rt-card-pane
{
    -fx-background-color: -var-main-light-color;
    -fx-background-radius: 4;
    -fx-border-color: -var-main-light-color;
    -fx-border-width: 0 0 0 0;
    -fx-hgap: 10;
    
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.26), 7, 0.06, 0, 2);
}

/*-- ############################### Flow Pane ############################### */
.flow-pane
{
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-padding: 10;
    -fx-background-color: transparent;
}

/*-- ############################### Grid Pane Styles ############################### */
.grid-pane
{
    -fx-hgap: 10;
    -fx-padding: 16;
    -fx-vgap: 10;
}

/*-- ############################### HBox Style ############################### */
.hbox
{ 
    -fx-spacing: 10;
}

/*-- ############################### Stack Pane ############################### */
.stack-pane
{
    -fx-hgap: 10;
    -fx-vgap: 10;
}

/*-- ############################### Text Flow ############################### */
.text-flow
{
    -fx-padding: 8 0 16 0;
}

/*-- ############################### Tile Pane Style ############################### */
.tile-pane
{
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-padding: 16;
}

/*-- ############################### Accordion ############################### */
.accordion .titled-pane .title
{
    -fx-background-color: -var-base-color-1;
    -fx-border-color: -var-base-color-2;
    -fx-border-width: 0 0 2 0;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 8 16 8 16;
}

.accordion .first-titled-pane .title 
{
    -fx-background-insets: 0;
}

/*-- ############################### Button Bar ############################### */
.button-bar
{
}

/*-- ############################### Button Style ############################### */
.button,
.toggle-button
{
    -fx-background-color: -var-accent-color-2;
    -fx-background-insets: 0;
    -fx-background-radius: 4;
    -fx-border-color: -var-accent-color-2;
    -fx-border-radius: 4;
    -fx-border-width: 0;
    -fx-min-height: 36;
    -fx-min-width: 64;
    -fx-padding: 4 16 4 16;
    -fx-pref-width: 200.0;
    -fx-text-fill: -var-accent-text-color;
}

.button:focused
{
    -fx-background-insets: 0;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-border-width: 0;
}

.button:hover,
.toggle-button:hover
{
    -fx-background-color:-var-accent-color-3;
    -fx-background-insets: 0;
    -fx-background-radius: 4;
    -fx-border-color: -var-accent-color-3;
    -fx-border-radius: 4;
    -fx-border-width: 0;
}

.button:armed
{
    -fx-background-color: -var-accent-color-4;
    -fx-background-insets: 0;
    -fx-background-radius: 4;
    -fx-border-color: -var-accent-color-4;
    -fx-border-radius: 4;
    -fx-border-width: 0;
}

.toggle-button:selected
{
    -fx-background-color: -var-accent-color-4;
    -fx-border-color: -var-accent-color-4;
    -fx-background-insets: 0;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-border-width: 0;
}

/*-- ############################### Color Picker Style ############################### */
.color-picker
{
    -fx-background-color: transparent;
	-fx-background-radius: 2.0;
    -fx-border-color: transparent;
    -fx-border-radius: 2.0;
    -fx-border-width: 2 2 2 2;
    -fx-max-width: 1000000;
	-fx-padding: 4 8 4 4;
    -fx-text-fill: -var-main-text-color;
}

.color-picker:hover
{
    -fx-border-color: -var-accent-color-3;
}

.color-picker .arrow-button .arrow
{
    -fx-shape: "M7,10L12,15L17,10H7Z";
}

.color-picker:showing .arrow-button .arrow
{
    -fx-shape: "M7,15L12,10L17,15H7Z";
}

.color-picker:focused,
.color-picker:focused:hover
{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.color-picker:focused .prompt-pane,
.color-picker:focused:hover .prompt-pane
{
    -fx-background-color: -var-main-light-color;
    -fx-fill: -var-main-light-color;
	-fx-background-radius: 2.0;
    -fx-border-width: 0 0 0 0;
}

.color-picker:focused .prompt-pane #text,
.color-picker:focused:hover .prompt-pane #text
{
    -fx-fill: -var-selected-border-color;
    -fx-text-fill: -var-selected-border-color;
    -fx-padding: 0 0 0 4;
}

.color-picker .label,
.color-picker.split-button .color-picker-label
{
    -fx-background-insets: 0 0 0 0;
    -fx-padding: 0 0 0 0;
}

.color-picker.split-button:focused .color-picker-label
{
    -fx-background-insets: 0 0 0 0;
    -fx-padding: 0 0 0 0;
}

.color-picker .color-picker-label .picker-color
{
    -fx-border-width: 0 0 0 0;
    -fx-shape: "M17.5,12A1.5,1.5 0 0,1 16,10.5A1.5,1.5 0 0,1 17.5,9A1.5,1.5 0 0,1 19,10.5A1.5,1.5 0 0,1 17.5,12M14.5,8A1.5,1.5 0 0,1 13,6.5A1.5,1.5 0 0,1 14.5,5A1.5,1.5 0 0,1 16,6.5A1.5,1.5 0 0,1 14.5,8M9.5,8A1.5,1.5 0 0,1 8,6.5A1.5,1.5 0 0,1 9.5,5A1.5,1.5 0 0,1 11,6.5A1.5,1.5 0 0,1 9.5,8M6.5,12A1.5,1.5 0 0,1 5,10.5A1.5,1.5 0 0,1 6.5,9A1.5,1.5 0 0,1 8,10.5A1.5,1.5 0 0,1 6.5,12M12,3A9,9 0 0,0 3,12A9,9 0 0,0 12,21A1.5,1.5 0 0,0 13.5,19.5C13.5,19.11 13.35,18.76 13.11,18.5C12.88,18.23 12.73,17.88 12.73,17.5A1.5,1.5 0 0,1 14.23,16H16A5,5 0 0,0 21,11C21,6.58 16.97,3 12,3Z";

    -rt-size: 16;
    -fx-min-height: -rt-size;
    -fx-min-width: -rt-size;
    -fx-max-height: -rt-size;
    -fx-max-width: -rt-size;
}

.color-picker .color-picker-label .picker-color .picker-color-rect 
{
    -fx-stroke-width: 0;
    -fx-opacity: 0;
}


/*-- ############################### Combo Box Style ############################### */
.combo-box
{
    -fx-background-color: -var-base-color-1;
	-fx-background-radius: 2.0;
    -fx-border-color: -var-base-color-2;
    -fx-border-radius: 2.0;
    -fx-border-width: 2 2 2 2;
    -fx-cursor: hand;
    -fx-max-width: 1000000;
    -fx-padding: 1 1 1 1;
    -fx-text-fill: -var-main-text-color;
}

.combo-box-base .text-input,
.combo-box-base,
.combo-box-base .label,
.combo-box .label,
.combo-box-base:editable .arrow-button,
.combo-box-popup .list-view .placeholder .label 
{
    -fx-text-fill: -var-main-text-color;
}

.combo-box:hover
{
    -fx-border-color: -var-primary-mid-color;
}

.combo-box-base:editable:focused,
.combo-box:focused
{
    -fx-background-color: -var-base-light-color;
    -fx-border-color: -var-primary-mid-color;
}

.rt-combo-box .arrow-button .arrow
{
    -fx-shape: "M7,10L12,15L17,10H7Z";
}

.rt-combo-box:showing .arrow-button .arrow
{
    -fx-shape: "M7,15L12,10L17,15H7Z";
}

.rt-combo-box .combo-box-popup .list-view 
{
    -fx-background: -var-main-light-color;
    -fx-background-color: -var-main-light-color;
    -fx-background-radius: 2 2 2 2;
    -fx-border-color: -var-main-light-color;
    -fx-border-width: 0 0 0 0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.26), 12, 0.06, 0, 6);
    -fx-padding: 0 0 4 0;

    -fx-min-height: 28;
}

.rt-combo-box .combo-box-popup .list-view .virtual-flow .clipped-container .sheet .list-cell 
{
    -fx-cursor: hand;
    -fx-font-size: 14;
    -fx-padding: 8 8 8 8;
    -fx-text-fill: -var-base-dark-text-color;
}

.rt-combo-box .combo-box-popup .list-view .virtual-flow .clipped-container .sheet .list-cell:filled:hover 
{
    -fx-background: -var-accent-color-2;
    -fx-background-color: -var-accent-color-2;
}

.rt-combo-box .combo-box-popup  .list-view .virtual-flow .clipped-container .sheet .list-cell:filled:selected,
.rt-combo-box .combo-box-popup  .list-view .virtual-flow .clipped-container .sheet .list-cell:filled:selected:hover 
{
    -fx-background: -var-accent-color-2;
    -fx-background-color: -var-accent-color-2;
}

.combo-box-base:editable .arrow-button,
.combo-box-base:editable:focused .arrow-button
{
    -fx-background-color: transparent;

    -rt-size: 16;
    -fx-min-height: -rt-size;
    -fx-min-width: -rt-size;
    -fx-max-height: -rt-size;
    -fx-max-width: -rt-size;
}
 
.combo-box-base:editable .text-field
{
    /* TODO use accent colors*/
    -fx-background-color: -var-base-light-color;
    -fx-control-inner-background: -var-base-light-color;
    -fx-faint-focus-color: -var-base-light-color;
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-effect: null;
}

.combo-box-base:editable:focused .text-field,
.combo-box-base:editable .text-field:focused
{
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}

/*-- ############################### Combo Box Popup Style ############################### */
.combo-box-popup .list-view 
{
    -fx-background-color: -var-main-light-color;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 12, 0.0 , 0 , 8 );
}

.combo-box-popup .rt-list-view:focused
{
	-fx-background-color: -var-main-light-color;
}

.combo-box-popup .rt-list-view:focused .virtual-flow .clipped-container .sheet .list-cell:filled:selected
{
    -fx-background-color: -rt-listview-selected-background;
}

.combo-box-popup .list-view:focused .virtual-flow .clipped-container .sheet .list-cell:focused
{
    -fx-background-color: -rt-listview-selected-background;
}

.list-cell 
{
    -fx-background-color: -var-main-light-color;
    -fx-text-fill: -var-main-text-color;
    -fx-padding: 8 16 8 16;
    -fx-text-fill: -var-main-text-color;
    -fx-border-width: 0;
}

/*-- ############################### List View Vertical Scroll Bar Style ############################### */
.combo-box-popup .list-view .virtual-flow .scroll-bar:vertical 
{
    -rt-size: 12;
    -fx-min-height: -rt-size;
    -fx-min-width: -rt-size;
    -fx-pref-width: -rt-size;
    -fx-max-width: -rt-size;
}

.combo-box-popup .list-view .virtual-flow .scroll-bar:vertical .track
{
    -rt-size: 12;
    -fx-min-height: -rt-size;
    -fx-min-width: -rt-size;
    -fx-pref-width: -rt-size;
    -fx-max-width: -rt-size;
}

.combo-box-popup .list-view .virtual-flow .scroll-bar:vertical .thumb
{
    -rt-size: 12;
    -fx-min-height: -rt-size;
    -fx-min-width: -rt-size;
    -fx-pref-width: -rt-size;
    -fx-max-width: -rt-size;
}

.combo-box-popup .list-view .virtual-flow .scroll-bar:vertical .increment-button .increment-arrow
{
    -fx-background-color: -rt-primary-light-color;
    -fx-shape: "M7,10L12,15L17,10H7Z";
}

.combo-box-popup .list-view .virtual-flow .scroll-bar:vertical .decrement-button .decrement-arrow
{
    -fx-background-color: -rt-primary-light-color;
    -fx-shape: "M7,15L12,10L17,15H7Z";
}

/*-- ############################### List View Horizontal Scroll Bar Style ############################### */
.combo-box-popup .list-view .virtual-flow .scroll-bar:horizontal 
{
    -rt-size: 12;
    -fx-min-width: -rt-size;
    -fx-min-height: -rt-size;
    -fx-pref-height: -rt-size;
    -fx-max-height: -rt-size;
}

.combo-box-popup .list-view .virtual-flow .scroll-bar:horizontal .track
{
    -rt-size: 12;
    -fx-min-width: -rt-size;
    -fx-min-height: -rt-size;
    -fx-pref-height: -rt-size;
    -fx-max-height: -rt-size;
}

.combo-box-popup .list-view .virtual-flow .scroll-bar:horizontal .thumb
{
    -rt-size: 12;
    -fx-min-width: -rt-size;
    -fx-min-height: -rt-size;
    -fx-pref-height: -rt-size;
    -fx-max-height: -rt-size;
}

.combo-box-popup .combo-box-popup .list-view .virtual-flow .scroll-bar:horizontal .increment-button .increment-arrow
{
    -fx-background-color: -var-accent-color-2;
    -fx-shape: "M10,17L15,12L10,7V17Z";
}

.combo-box-popup .list-view .virtual-flow .scroll-bar:horizontal .decrement-button .decrement-arrow
{
    -fx-background-color: -var-accent-color-2;
    -fx-shape: "M14,7L9,12L14,17V7Z";
}

/*-- ############################### List View Scroll Bar Corner Style ############################### */
.combo-box-popup .list-view .virtual-flow .corner
{
    -fx-background-color: transparent;
}

/*-- ############################### Check Box Style ############################### */
.check-box
{
    -fx-cursor: hand;
    -fx-text-fill: -var-base-text-color;
    -fx-label-padding: 0 0 0 12;
}

.check-box .box
{
    -fx-background-color: transparent;
    -fx-background-radius: 2;
    -fx-border-color: -var-base-color-3;
    -fx-border-style: solid;
    -fx-border-radius: 2;
    -fx-border-width: 2;

    -fx-pref-width: 18;
    -fx-pref-height: 18;
    -fx-max-height: -fx-pref-height;
    -fx-max-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-min-width: -fx-pref-width;
}

.check-box:hover .box
{
    -fx-border-color: -var-accent-color-2;
    -fx-border-radius: 2;
}

.check-box:selected .box,
.check-box:indeterminate .box,
.check-box:indeterminate:selected .box
{
    -fx-background-color: -var-accent-color-2;
    -fx-border-color: -var-accent-color-2;
    -fx-border-radius: 2;
}

 .check-box .box .mark 
 {
    -fx-shape: "M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z";
    -fx-max-width: 13;
    -fx-max-height: 12;

    -fx-background-color: -var-main-light-color;
    -fx-border-color: -var-main-light-color;

    -fx-border-width: 2;
    -fx-border-radius: 2;
}

.check-box:indeterminate .box .mark
{
    -fx-shape: "M19 13H5v-2h14v2z";

    -fx-max-width: 10;
    -fx-max-height: 2;

    -fx-background-color: -var-main-light-color;
    -fx-border-color:-var-main-light-color;

    -fx-border-width: 2;
    -fx-border-radius: 2;
}

/*-- ############################### Label ############################### */
.label
{
    -fx-alignment: center-left;
    -fx-padding: 2 2 2 2;
    -fx-text-fill: -var-main-text-color;
    -fx-text-alignment: center;
}

/*-- ############################### Progress Bar ############################### */
.progress-bar
{
    -fx-min-width: 20;
    -fx-max-width: 10000;
}

.progress-bar .track 
{
	-fx-background-color: -var-accent-color-1;
	-fx-background-radius: 3.0;
	-fx-padding: 0.0;
}

.progress-bar .bar 
{
	-fx-background-color: -var-accent-color-2;
	-fx-background-radius: 2.0;
	-fx-background-insets: 0.0;
	-fx-border-width: 0.0;
	-fx-effect: null;
}

/*-- ############################### Radio Button Styles ############################### */
.radio-button 
{
    -fx-cursor: hand;
    -fx-label-padding: 0 0 0 12;
}

.radio-button .text 
{
	-fx-fill: -var-main-text-color;
}

.radio-button .radio, 
.radio-button .radio:unfocused, 
.radio-button:disabled .radio 
{
	-fx-border-radius: 100.0;
	-fx-border-width: 2;
	-fx-background-radius: 100;
    -fx-background-color: transparent;
    -fx-border-color: -var-base-color-3;
	-fx-padding: 3;
}

.radio-button:focused .radio 
{
	-fx-background-color: transparent;
	-fx-padding: 3;
}

.radio-button:focused:armed .radio 
{
	-fx-background-color: transparent;
	-fx-padding: 3;
}

.radio-button:hover .radio 
{
	-fx-border-color: -var-accent-color-2;
	-fx-background-insets: 0;
}

.radio-button:selected .radio 
{
	-fx-border-color: -var-accent-color-2;
	-fx-background-insets: 0;
}
/*-- ############################### Scroll Pane Styles ############################### */
.scroll-pane
{
    -fx-background-color: transparent;
}

.scroll-pane:focused
{
    -fx-background-color: transparent;
}

.scroll-pane .viewport
{
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar 
{
    -rt-size: 12;
    -fx-min-height: -rt-size;
    -fx-min-width: -rt-size;
    -fx-max-height: -rt-size;
}

.scroll-pane .scroll-bar .increment-button,
.scroll-pane .scroll-bar .decrement-button 
{
    -rt-size: 12;
    -fx-min-height: -rt-size;
    -fx-min-width: -rt-size;
    -fx-max-width: -rt-size;
    -fx-max-height: -rt-size;
}

/*-- ############################### Scroll Pane Scroll Bar Styles ############################### */
.scroll-pane .scroll-bar:vertical,
.scroll-pane .scroll-bar:horizontal
{
    -fx-background-color: transparent;
    -fx-opacity: 30%;
}

.scroll-pane .scroll-bar:vertical:hover,
.scroll-pane .scroll-bar:horizontal:hover
{
    -fx-opacity: 50%;
}

.scroll-pane .scroll-bar:vertical:pressed,
.scroll-pane .scroll-bar:horizontal:pressed
{
    -fx-opacity: 100%;
}

.scroll-pane .scroll-bar:vertical .track,
.scroll-pane .scroll-bar:horizontal .track
{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-pane .scroll-bar:vertical .thumb,
.scroll-pane .scroll-bar:horizontal .thumb
{
    -fx-background-color: -var-accent-color-2;
    -fx-background-radius: 6;
    -fx-border-width: 0 0 0 0;
}

.scroll-pane .scroll-bar:vertical .thumb:hover,
.scroll-pane .scroll-bar:horizontal .thumb:hover
{
    -fx-cursor: open_hand;
}

.scroll-pane .scroll-bar:vertical .thumb:pressed,
.scroll-pane .scroll-bar:horizontal .thumb:pressed
{
    -fx-cursor: closed_hand;
}

.scroll-pane .scroll-bar:vertical .increment-button,
.scroll-pane .scroll-bar:vertical .decrement-button,
.scroll-pane .scroll-bar:horizontal .increment-button,
.scroll-pane .scroll-bar:horizontal .decrement-button
{
    -fx-cursor: hand;
    -fx-padding: 2 2 2 2;
    -fx-border-width: 0;
}

/*-- ############################### Scroll Pane Vertical Scroll Bar Style ############################### */
.scroll-pane .scroll-bar:vertical 
{
    -rt-size: 12;
    -fx-min-height: -rt-size;
    -fx-min-width: -rt-size;
    -fx-pref-width: -rt-size;
    -fx-max-width: -rt-size;
}

.scroll-pane .scroll-bar:vertical .track
{
    -rt-size: 12;
    -fx-min-height: -rt-size;
    -fx-min-width: -rt-size;
    -fx-pref-width: -rt-size;
    -fx-max-width: -rt-size;
}

.scroll-pane .scroll-bar:vertical .thumb
{
    -rt-size: 12;
    -fx-min-height: -rt-size;
    -fx-min-width: -rt-size;
    -fx-pref-width: -rt-size;
    -fx-max-width: -rt-size;
}

.scroll-pane .scroll-bar:vertical .increment-button .increment-arrow
{
    -fx-background-color: -var-accent-color-2;
    -fx-shape: "M7,10L12,15L17,10H7Z";
}

.scroll-pane .scroll-bar:vertical .decrement-button .decrement-arrow
{
    -fx-background-color: -var-accent-color-2;
    -fx-shape: "M7,15L12,10L17,15H7Z";
}

/*-- ############################### Scroll Pane Horizontal Scroll Bar Style ############################### */
.scroll-pane .scroll-bar:horizontal 
{
    -rt-size: 12;
    -fx-min-width: -rt-size;
    -fx-min-height: -rt-size;
    -fx-pref-height: -rt-size;
    -fx-max-height: -rt-size;
}

.scroll-pane .scroll-bar:horizontal .track
{
    -rt-size: 12;
    -fx-min-width: -rt-size;
    -fx-min-height: -rt-size;
    -fx-pref-height: -rt-size;
    -fx-max-height: -rt-size;
}

.scroll-pane .scroll-bar:horizontal .thumb
{
    -rt-size: 12;
    -fx-min-width: -rt-size;
    -fx-min-height: -rt-size;
    -fx-pref-height: -rt-size;
    -fx-max-height: -rt-size;
}

.scroll-pane .scroll-bar:horizontal .increment-button .increment-arrow
{
    -fx-background-color: -var-accent-color-2;
    -fx-shape: "M10,17L15,12L10,7V17Z";
}

.scroll-pane .scroll-bar:horizontal .decrement-button .decrement-arrow
{
    -fx-background-color: -var-accent-color-2;
    -fx-shape: "M14,7L9,12L14,17V7Z";
}

/*-- ############################### List View Scroll Bar Corner Style ############################### */
.scroll-pane .corner
{
    -fx-background-color: transparent;
}

/*-- ############################### Separator Style ############################### */
.rt-separator 
{
    -fx-border-color: -rt-base-mid-color;
	-fx-padding: 8 0 8 0;
}

.rt-separator:vertical
{
    -fx-border-color: -rt-base-mid-color;
	-fx-padding: 0 8 0 8;
}

/*-- ############################### Slider Style ############################### */
.slider
{
    -fx-padding: 10 0 10 0;
    -fx-min-height: 16;
}

.slider:vertical 
{
	-fx-padding: 0 10 0 10;
    -fx-min-width: 16;
}

.slider .track 
{
	-fx-background-color: -var-base-color-2;
    -fx-background-insets: 1.5;
}

.slider .thumb 
{
    -fx-cursor: hand;
	-fx-background-color: -var-accent-color-2;
    -fx-effect: null;
    -fx-background-insets: 0;
    -fx-background-radius: 16;
    -fx-padding: 0;
    -fx-pref-width: 16;
    -fx-pref-height: 16;
}

.slider:focused .thumb 
{
    -fx-cursor: hand;
    -fx-background-color: -var-accent-color-3;
    -fx-background-radius: 16;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.slider:vertical .track 
{
	-fx-background-color: -var-base-color-2;
	-fx-background-insets: 1.5;
}

.slider:vertical .thumb 
{
    -fx-cursor: hand;
	-fx-background-color: -var-accent-color-2;
}

.slider .axis 
{
    -fx-tick-label-fill: -var-main-text-color;
    -fx-tick-label-gap: 4;
    -fx-tick-length: 5px;
    -fx-minor-tick-length: 4px;
    -fx-border-color: null;
}

.slider .axis .axis-tick-mark, .slider .axis .axis-minor-tick-mark 
{
    -fx-fill: null;
    -fx-stroke: -var-main-text-color;
}

.slider .state-thumb 
{
    -fx-fill: -thumb-color;
    -fx-opacity: 0.3;
}

.slider .circle-thumb
{
    -fx-fill: -thumb-color;
    -fx-radius: 8;
}

/*-- ############################### Filled Spinner Styles ############################### */
.spinner
{
    -fx-background-color: -var-base-color-1;
	-fx-background-radius: 2.0;
    -fx-border-color: -var-base-color-2;
    -fx-border-radius: 0;
	-fx-border-width: 0 0 2 0;
    -fx-border-radius: 0;
    -fx-max-width: 1000000;
    -fx-text-fill: -rt-main-mid-text-color;
}

.spinner .text-field
{
    -fx-background-color: transparent;
	-fx-background-radius: 0;
	-fx-border-color: transparent;
	-fx-border-width: 0;
}

.spinner:hover, 
.spinner:focused
{
    -fx-border-color: -var-accent-color-2;
}

.spinner .increment-arrow-button, 
.spinner .decrement-arrow-button 
{
	-fx-background-color: transparent;
	-fx-fill: -var-accent-color-2;
}

.spinner .increment-arrow-button .increment-arrow
{
    -fx-shape: "M 350 250 L 350 100 L 450 100 L 450 250 L 600 250 L 600 350 L 450 350 L 450 500 L 350 500 L 350 350 L 200 350 L 200 250 L 350 250";
    -fx-border-color: -var-accent-color-2;
}

.spinner .decrement-arrow-button .decrement-arrow
{
    -fx-shape: "M 600 250 L 600 350 L 200 350 L 200 250 L 600 250";
    -fx-border-color: -var-accent-color-2;
}

.spinner .increment-arrow-button, 
.spinner .decrement-arrow-button 
{
	-fx-background-color: transparent;
	-fx-fill: -var-accent-color-2;
}

/*-- ############################### Tab Pane Styles ############################### */
.tab-pane 
{
    -fx-tab-min-height: 32px;
    -fx-tab-max-height: 32px;
    -fx-tab-min-width: 64px;
}

.tab-pane .tab-header-area .headers-region .tab .tab-container .tab-label 
{
    -fx-alignment: CENTER;
    -fx-text-fill: -var-main-text-color;
}

.tab-pane .tab-header-area .headers-region .tab 
{
    -fx-background-color: -var-main-light-color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 4 16 4 16;
}

.tab-pane .tab-header-area .headers-region .tab:top,
.tab-pane .tab-header-area .headers-region .tab:right,
.tab-pane .tab-header-area .headers-region .tab:bottom,
.tab-pane .tab-header-area .headers-region .tab:left 
{
    -fx-background-color: -var-main-light-color;
    -fx-border-color: -var-base-color-2;
}

.tab-pane .tab-header-area .headers-region .tab:top
{
    -fx-border-width: 0 0 2 0;
}

.tab-pane .tab-header-area .headers-region .tab:right
{
    -fx-border-width: 0 0 0 2;
}

.tab-pane .tab-header-area .headers-region .tab:bottom
{
    -fx-border-width: 2 0 0 0;
}

.tab-pane .tab-header-area .headers-region .tab:left 
{
    -fx-border-width: 0 2 0 0;
}

.tab-pane .tab-header-area .headers-region .tab:selected
{
    -fx-border-color: -var-accent-color-2;
}

.tab-pane .tab-header-area .tab-header-background 
{
    -fx-background-color: -var-main-light-color;
}

.tab-pane .tab-content-area
 {
    -fx-padding: 16;
    -fx-background-color: transparent;
}

/*-- ############################### Tab Pane Arrow ############################### */
.tab-pane .tab-header-area .control-buttons-tab .container .tab-down-button .arrow  
{
    -fx-background-color: -var-accent-color-2;
    -fx-shape: "M7,10L12,15L17,10H7Z";
}
/*-- ############################### Table View Style ############################### */
.table-view, .tree-table-view 
{
    -fx-background-color: transparent;
    -fx-padding: 4 4 4 4;
}

.table-view .table-cell 
{
    -fx-alignment: center-left;
    -fx-border-width: 0 0 0 0;
    -fx-cursor: hand;
    -fx-padding: 4 16 4 16;
    -fx-text-fill: -var-base-text-color;
}

.table-view .table-row-cell
{
	-fx-cell-size: 48px;
	-fx-border-color: #e4e4e4;
	-fx-border-width: 0 0 1 0;
}

.table-view .table-row-cell
{
    -fx-background: -var-main-mid-color;
}

.table-view .table-row-cell:odd 
{
	-fx-border-color: #e4e4e4;
	-fx-border-width: 0 0 1 0;
}

.table-view .table-row-cell:odd 
{
    -fx-background: -var-main-light-color;
}

/*-- ############################### Table View Header Style ############################### */
.table-view .filler, 
.tree-table-view .filler, 
.table-view .column-header,
.tree-table-view .column-header 
{
	-fx-background-color: transparent;
    /* -fx-border-style: solid solid solid solid; */
    -fx-border-style: solid segments(0, 12, 24, 30) solid solid;
	-fx-border-color: #e4e4e4;
	-fx-border-width: 0 2 1 0;
    -fx-cursor: hand;
    -fx-font-family: "Roboto Black";
    -fx-padding: 4 16 4 16;
	-fx-size: 48px;
}

.table-view .show-hide-columns-button, 
.tree-table-view .show-hide-columns-button
{
	-fx-background-color: transparent;
}

.table-view .column-header .label, 
.table-view .filler .label,
.table-view .column-drag-header .label, 
.tree-table-view .column-header .label,
.tree-table-view .filler .label, 
.tree-table-view .column-drag-header .label
{
	-fx-alignment: center-left;
    -fx-text-fill: -var-base-text-color;
}

.table-view .column-header-background, 
.tree-table-view .column-header-background
{
	-fx-background-color: transparent;
}

.table-view .column-header .arrow,
.table-view .column-header .sort-order-dot 
{
    -fx-shape: "M7,10L12,15L17,10H7Z";
    -fx-padding: 4;
    -fx-translate-x: 24;
    -fx-background-color: -var-base-text-color;
}

/*-- ############################### Table View Column Style ############################### */
.rt-table-column.text
{
    -fx-alignment: center-left;
}

.rt-table-column.number .label
{
    -fx-alignment: center-right;
}

.rt-table-column.number
{
    -fx-alignment: center-right;
}

/*-- ############################### Table View Drag Style ############################### */
.table-view .column-overlay 
{
    -fx-background-color: -var-accent-color-4;
}

.table-view .column-resize-line, .table-view .column-drag-header 
{
    -fx-background-color: -var-accent-color-2;
}

/*-- ############################### Table View Cell State Style ############################### */
.table-view:focused .virtual-flow .clipped-container .sheet .table-row-cell:filled:selected,
.tree-table-view:focused .virtual-flow .clipped-container .sheet .tree-table-row-cell:filled:selected,
.table-view:focused .virtual-flow .clipped-container .sheet .table-row-cell .table-cell:selected,
.tree-table-view:focused .virtual-flow .clipped-container .sheet .tree-table-row-cell .tree-table-cell:selected 
{
    -fx-background: -var-accent-color-1;
    -fx-background-color: -var-accent-color-1;
    -fx-table-cell-border-color:  -var-accent-color-1;
}

.table-row-cell:filled:hover,
.tree-table-row-cell:filled:hover,
.table-row-cell:filled .table-cell:hover,
.tree-table-row-cell:filled .tree-table-cell:hover 
{
    -fx-background: -var-main-light-color;
    -fx-background-color: -var-main-light-color;
    -fx-table-cell-border-color:  -var-main-light-color;
}


.table-row-cell:filled:selected:hover,
.tree-table-row-cell:filled:selected:hover,
.table-row-cell:filled:selected .table-cell:hover,
.tree-table-row-cell:filled:selected .tree-table-cell:hover 
{
    -fx-background: -var-accent-color-1;
    -fx-background-color: -var-accent-color-1;
    -fx-table-cell-border-color:  -var-accent-color-1;
}

.table-row-cell:filled:selected,
.tree-table-row-cell:filled:selected,
.table-row-cell:filled .table-cell:selected,
.tree-table-row-cell:filled .tree-table-cell:selected 
{
    -fx-background: -var-main-light-color;
    -fx-background-color: -var-main-light-color;
    -fx-table-cell-border-color:  -var-main-light-color;
}

.table-view:focused:row-selection .virtual-flow .clipped-container .sheet .table-row-cell:focused,
.tree-table-view:focused:row-selection .virtual-flow .clipped-container .sheet .tree-table-row-cell:focused,
.table-view:focused:cell-selection .virtual-flow .clipped-container .sheet .table-row-cell .table-cell:focused,
.tree-table-view:focused:cell-selection .virtual-flow .clipped-container .sheet .tree-table-row-cell .tree-table-cell:focused 
{
    -fx-background: -var-main-light-color;
    -fx-background-color: -var-main-light-color;
    -fx-table-cell-border-color:  -var-main-light-color;
}

/*-- ############################### Text Area Style ############################### */
.text-area
{
    -fx-background-color: -var-base-color-1;
	-fx-background-radius: 2.0;
    -fx-border-color: -var-base-color-1;
    -fx-border-radius: 2.0;
    -fx-border-width: 2 2 2 2;
    -fx-max-width: 1000000;
	-fx-padding: 8 8 8 8;
    -fx-text-fill: -var-main-text-color;
}

.text-area:hover
{
    -fx-border-color: -var-accent-color-2;
}

.text-area:focused,
.text-area:focused:hover
{
    -fx-background-color: -var-base-color-1;
    -fx-border-color: -var-accent-color-2;
}

.text-area .content,
.text-area .scroll-pane
{
    -fx-border-width: 0.0;
	-fx-background-color: -var-base-color-1;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 8 16 8 16;
}

.text-area .scroll-pane
{
    -fx-padding: 0 0 0 0;
}

.text-area .content
{
    -fx-padding: 2 2 2 2;
}

.text-area:focused .content,
.text-area:focused .scroll-pane
{
    -fx-background-color: -var-main-light-color;
    -fx-border-color: -var-base-color-2;
	-fx-effect: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}


/*-- ############################### Text Field ############################### */

.text-field,
.text-field:focused
{
    -fx-background-color: -var-base-color-1;
	-fx-background-radius: 4 4 0 0;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: -var-base-color-3;
    -fx-border-radius: 2 2 0 0;
    -fx-max-width: 1000000;
    -fx-padding: 18 16 0 16;
    -fx-text-fill: -var-base-text-color;
    -fx-prompt-text-fill: -var-base-color-3;

    -fx-font-family: "Roboto Medium";
    -fx-font-size: 14;
    -fx-min-height: 56;
}

.text-field:focused
{
    -fx-border-color: -var-accent-color-2;
}

/*-- ############################### Text ############################### */
.rt-text
{
    -fx-fill: -var-main-text-color;
    -fx-font-size: 14px;
}

/*-- ############################### Titled Pane Style ############################### */
.titled-pane
{
    -fx-cursor: hand;
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-background-radius: 4;
    -fx-min-height: 36;
    -fx-text-fill: -var-main-text-color;
}

.titled-pane:focused 
{
    -fx-background-color: transparent;
}

.titled-pane .title
{
    -fx-background-color: transparent;
    -fx-border-color: -var-base-color-2;
    -fx-border-width: 0 0 2 0;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 8 16 8 16;
}

.rt.titled-pane .title .text
{
    -fx-padding: 0 0 0 12;
}

.titled-pane:expanded .title
{
    -fx-border-color: -var-accent-color-2;
}

.titled-pane .title .arrow-button 
{
    -fx-background-fill: transparent;
    
    -rt-size: 16;
    -fx-min-height: -rt-size;
    -fx-min-width: -rt-size;
    -fx-max-height: -rt-size;
    -fx-max-width: -rt-size;
}

.titled-pane .title .arrow-button .arrow 
{
    -fx-shape: "M7,10L12,15L17,10H7Z";
}

.titled-pane *.content 
{
    -fx-border-color: transparent;
    -fx-border-insets: 0;
    -fx-background-color: transparent
}